<!doctype html>
{% extends "m_skins/m_html/base.html" %}

   
<html lang='ko'>
  <head>
   {% load app_filter %}
  {% load staticfiles%}
  {% block head%}
    <title>{%block title %} ▒ SEAL ▒{%endblock%} </title>
        <link rel="shortcut icon" href="{% static "m_skins/m_css/seal.png" %}">

  <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>  
    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static "m_skins/m_css/course.css" %}">
    <script type="text/javascript" src="{% static "js/starjs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/course.js" %}">history.go(-2);</script>
  
  {%endblock%}  
  </head>

  <body>
    {% block content%}
    
    <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">

      <h2 class="ui header"><img src="{% static "m_skins/m_css/seal.png" %}" height="50px" width="50px"> Evaluation Result</h2>

      <div class="ui section divider"></div>

      <div class="ui column">
            
        <p id="ccode_p">[<span id="ccode">{{CourseBoard.Course.Code}}</span>]<br />
        <span id="cname">{{CourseBoard.Course.CourseName}}</span> <br/>
       

        <span id="cprof">{{CourseBoard.Course.Professor}} 교수님</span></p>
        <a href="/Recommend/{{CourseBoard.Course.id}}"><button style="float:left; margin-right:3px" class="btn btn-danger">평가하기!</button></a>
        <a id="listenButton" name = "{{CourseBoard.Course.id}}"><button style="float:left; margin-right:3px" class="btn btn-info">듣고싶어!</button></a>
        <button style="float:left; margin-right:3px" class="btn btn-warning show" id="exam">출제유형!</button>

        <div class="ui long modal scrolling transition problem-modal" style="width:300px">
            <div class="header" style="margin-top:35px"><i class="glyphicon glyphicon-list-alt" style="color:grey"></i>&nbsp;&nbsp;&nbsp;출제유형</div>
            <div class="ui stackable two column grid" style="margin-top:10px; margin-bottom:10px">

              <!--column 2개씩 for문. (여기는 두개 마진 설정 똑같음!)-->
              {% for Answer_List in Answer_Dis%}
                {% for Answer in Answer_List%}
                {%if forloop.counter|divisibleby:2 %}
                <div class="column">
                  <div class="ui segment" style="margin-left:10px; margin-right:10px">
                    <div class="content">ㆍ{{Answer.Answer}}</div>
                  </div>
                </div>
                {% else %}
                <div class="column">
                  <div class="ui segment" style="margin-left:10px; margin-right:10px">
                    <div class="content">ㆍ{{Answer.Answer}}</div>
                  </div>
                </div>
                {%endif%}
                {%endfor%}
              {%endfor%}
              
            </div>
                
            <div class="actions">
                <div class="ui button approve orange" data-value="close">닫기</div>
            </div>
        </div>
        <div class="ui long modal scrolling transition comment-modal" style="width:300px">
            <div class="header" style="margin-top:35px"><i class="glyphicon glyphicon-list-alt" style="color:grey"></i>&nbsp;&nbsp;&nbsp;출제유형</div>
            <div class="ui stackable two column grid" style="margin-top:10px; margin-bottom:10px">

              <!--column 2개씩 for문. (여기는 두개 마진 설정 똑같음!)-->
              {% for Answer_List in Answer_Dis%}
                {% for Answer in Answer_List%}
                {%if forloop.counter|divisibleby:2 %}
                <div class="column">
                  <div class="ui segment" style="margin-left:10px; margin-right:10px">
                    <div class="content">ㆍ{{Answer.Answer}}</div>
                  </div>
                </div>
                {% else %}
                <div class="column">
                  <div class="ui segment" style="margin-left:10px; margin-right:10px">
                    <div class="content">ㆍ{{Answer.Answer}}</div>
                  </div>
                </div>
                {%endif%}
                {%endfor%}
              {%endfor%}
              
            </div>
                
            <div class="actions">
                <div class="ui button approve orange" data-value="close">닫기</div>
            </div>
        </div>
      <div id="h_sectiondivider" class="ui section divider"></div>

        <br><br>

      <div class="ui column">

        <h3><b>전체 평균 : </b></h3>

        <div id="recommending" class="ui column">

          <div id="blankspace" class="ui column"></div>

        


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="secondcolumn" class="left floated center aligned sixteen wide column" style="margin-bottom:-15px;">과제량</div>
            <div id="lchoice" class="center floated right aligned three wide column" style="margin-left:10px;">
              <a id="tooltips" data-toggle="tooltip" title="과제가 적게 나옴 &nbsp;">적음</a>
            </div>
            <div id="avgsldbr" class="center aligned nine wide column">
              <input type="text" id="sl2" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Homework}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl2C"/>
            </div>
            <div id="rchoice" class="center floated left aligned three wide column">
              <a id="tooltips" data-toggle="tooltip" title="과제가 많이 나옴 &nbsp;">많음</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="thirdcolumn" class="left floated center aligned sixteen wide column" style="margin-bottom:-15px;">난이도</div>
            <div id="lchoice" class="center floated right aligned three wide column" style="margin-left:10px;">
              <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 낮음 &nbsp;">쉬움</a>
            </div>
            <div id="avgsldbr" class="center aligned nine wide column">
               <input type="text" id="sl3" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Level_Difficulty}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl3C"/>
            </div>
            <div id="rchoice" class="center floated left aligned four wide column" style="margin-left:-10px;">
              <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 높음 &nbsp;">어려움</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid" style="display:flex; flex-direction:row;">
            <div id="fourthcolumn" class="center floated right aligned six wide column" style="margin-top:60px"><b>시험 방식</b></div>

            <div class="ui stackable center floated center aligned ten wide column" style="display:flex; flex-direction:column; ">
            
              {% if CourseBoard.Total_Mix >= CourseBoard.Total_Short_Answer and CourseBoard.Total_Mix >= CourseBoard.Total_Long_Answer and CourseBoard.Total_Mix >= CourseBoard.Total_Unknown_Answer %}
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>서술형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>단답형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button active" value="" disabled>혼합형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>해당 없음</button>
              {% elif CourseBoard.Total_Short_Answer >= CourseBoard.Total_Mix and CourseBoard.Total_Short_Answer >= CourseBoard.Total_Long_Answer and CourseBoard.Total_Short_Answer >= CourseBoard.Total_Unknown_Answer%}
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>서술형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button active" value="" disabled>단답형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>혼합형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>해당 없음</button>
              {% elif CourseBoard.Total_Long_Answer >= CourseBoard.Total_Mix and CourseBoard.Total_Long_Answer >= CourseBoard.Total_Short_Answer and CourseBoard.Total_Long_Answer >= CourseBoard.Total_Unknown_Answer %}
                  <button style="width:70%;" type ="button" class="ui toggle button active" value="" disabled>서술형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>단답형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>혼합형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>해당 없음</button>
              {% elif CourseBoard.Total_Unknown_Answer >= CourseBoard.Total_Mix and CourseBoard.Total_Unknown_Answer >= CourseBoard.Total_Short_Answer and CourseBoard.Total_Unknown_Answer >= CourseBoard.Total_Long_Answer%}
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>서술형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>단답형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button" value="" disabled>혼합형</button>
                  <button style="width:70%;" type ="button" class="ui toggle button active" value="" disabled>해당 없음</button>
              {%endif%}
            </div>
          </div>

          <div class="ui grid" style="display:flex; flex-direction:row;">
              <div id="fourthcolumn" class="center floated right aligned six wide column"  style="margin-top:40px">수업 방식</div>
              <div class="ui stackable center floated center aligned ten wide column" >

              {% if CourseBoard.Total_Book_Like >= CourseBoard.Total_Ppt_Like and                   CourseBoard.Total_Book_Like >= CourseBoard.Total_Practice_Like %}
                    <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;" >
                      <button type ="button" class="ui toggle button active" value="" disabled>교재 중심</button>
                      <button type ="button" class="ui toggle button" value="" disabled>ppt 중심</button>
                      <button type ="button" class="ui toggle button" value="" disabled>실습 중심</button>
            
                    </div>
              {% elif CourseBoard.Total_Ppt_Like >= CourseBoard.Total_Book_Like and CourseBoard.Total_Ppt_Like >= CourseBoard.Total_Practice_Like %}
                    <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;">
                      <button type ="button" class="ui toggle button " value="" disabled>교재 중심</button>
                      <button type ="button" class="ui toggle button active" value="" disabled>ppt 중심</button>
                      <button type ="button" class="ui toggle button" value="" disabled>실습 중심</button>
                    </div>
              {% elif CourseBoard.Total_Practice_Like >= CourseBoard.Total_Ppt_Like and CourseBoard.Total_Practice >= CourseBoard.Total_Book_Like %}
                    <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;">
                      <button type ="button" class="ui toggle button" value="" disabled>교재 중심</button>
                      <button type ="button" class="ui toggle button" value="" disabled>ppt 중심</button>
                      <button type ="button" class="ui toggle button active" value="" disabled>실습 중심</button>
                    </div>
              {%else%}
                    <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;">
                      <button type ="button" class="ui toggle button" value="" disabled>교재 중심</button>
                      <button type ="button" class="ui toggle button" value="" disabled>ppt 중심</button>
                     <button type ="button" class="ui toggle button" value="" disabled>실습 중심</button>
                   </div>
              {%endif%}
              </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>
          <br><br>
        
          

          <div  class="ui grid">
            
            <div class="left floated center aligned five wide column" style="color:orange"><h4><b>만족도</b></h4></div>            
           <div class="floated left aligned two wide column" style="margin-left:-5px;"><span id="starpoint" class="starvalue">{{CourseBoard.Total_StarPoint}}</span></div>
         
          </div>

          <div id="h_innersectiondivider" class="ui section divider"></div>

        </div>

      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>
      <div id="CoursePage">
      <div class="ui column">
        {% if MyCourseBoard.0 != None %}
        <h3><b>나의 평가 : </b></h3>
            {%endif%}
          {%for MyCourseBoard in MyCourseBoard%}

           <div id="recommending" class="ui column">
            <div class="ui divider" style="margin-top:-5px"></div>
          <h4><b>{{user.profile.UserName}}/{{user.profile.FirstMajor}}/{{MyCourseBoard.Course.Semester}}</b></h4>
            <div class="ui divider"></div>

          


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="secondcolumn" class="left floated center aligned sixteen wide column" style="margin-bottom:-15px;">과제량</div>
              <div id="lchoice" class="center floated right aligned three wide column" style="margin-left:10px;">
                <a id="tooltips" data-toggle="tooltip" title="과제가 적게 나옴 &nbsp;">적음</a>
              </div>
              <div id="mysldbr" class="center aligned nine wide column">
                <input type="text" id="sl{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Homework}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}2C"/>
              </div>
              <div id="rchoice" class="center floated left aligned three wide column">
                <a id="tooltips" data-toggle="tooltip" title="과제가 많이 나옴 &nbsp;">많음</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="thirdcolumn" class="left floated center aligned sixteen wide column" style="margin-bottom:-15px;">난이도</div>
              <div id="lchoice" class="center floated right aligned three wide column" style="margin-left:10px;">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 낮음 &nbsp;">쉬움</a>
              </div>
              <div id="mysldbr" class="center aligned nine wide column">
                <input type="text" id="sl{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Level_Difficulty}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}3C"/>
              </div>
              <div id="rchoice" class="center floated left aligned four wide column" style="margin-left:-10px;">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 높음 &nbsp;">어려움</a>
              </div>
            </div>

            <div id="h_innersectiondivider" class="ui section divider"></div>

            <div class="ui grid" style="display:flex; flex-direction:row;">
              <div id="fourthcolumn" class="center floated center aligned six wide column" style="margin-top:60px"><b>시험 방식</b></div>

              <div class="ui stackable center floated center aligned ten wide column" >
                <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;">
                  {% if MyCourseBoard.What_Answer|calculateData:1000 == 1 %}
                      <button type ="button" class="ui toggle button active" value="" disabled>서술형</button>
                  {%else%}
                      <button type ="button" class="ui toggle button" value="" disabled>서술형</button>
                  {%endif%}
                  {% if MyCourseBoard.What_Answer|calculateData:100 == 1 %}
                      <button type ="button" class="ui toggle button active" value="" disabled>단답형</button>
                  {% else %}
                      <button type ="button" class="ui toggle button" value="" disabled>단답형</button>
                  {%endif%}
                  {% if MyCourseBoard.What_Answer|calculateData:10 == 1%}
                      <button type ="button" class="ui toggle button active" value="" disabled>혼합형</button>
                  {% else %}
                      <button type ="button" class="ui toggle button" value="" disabled>혼합형</button>
                  {%endif%}
                  {% if MyCourseBoard.What_Answer|calculateData:1 == 1 %}
                    <button type ="button" class="ui toggle button active" value="" disabled>해당없음</button>
                  {%else%}
                    <button type ="button" class="ui toggle button" value="" disabled>해당없음</button>
                  {%endif%}
                  </div>
                </div>
              </div>
            

            <div class="ui grid" style="display:flex; flex-direction:row;" >
              <div id="fourthcolumn" class="center floated center aligned six wide column"  style="margin-top:40px">수업 방식</div>
              <div class="ui stackable center floated center aligned ten wide column" >
                  <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;">

                  {% if MyCourseBoard.Course_Answer|calculateData:100 == 1%}
                      <button type ="button" class="ui toggle button active" value="" disabled>교재 중심</button>
                  {%else%}
                     <button type ="button" class="ui toggle button" value="" disabled>교재 중심</button>
                  {%endif%}
                  {% if MyCourseBoard.Course_Answer|calculateData:10  == 1 %}
                      <button type ="button" class="ui toggle button active" value="" disabled>ppt 중심</button>
                  {% else %}
                     <button type ="button" class="ui toggle button" value="" disabled>ppt 중심</button>
                  {%endif%}
                  {% if MyCourseBoard.Course_Answer|calculateData:1  == 1%}
                      <button type ="button" class="ui toggle button active" value="" disabled>실습 중심</button>
                  {% else %}
                     <button type ="button" class="ui toggle button" value="" disabled>실습 중심</button>
                  {%endif%}

                 </div>
              </div>
            </div>

            <div class="ui piled segment">
              <h4 style="font-family:mono; margin-left:5px"><i class="glyphicon glyphicon-user" style="color:orange"></i>&nbsp; Recommended to: <br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{MyCourseBoard.Who_Answer}}</b></h4>
              <br>
           
            </div>

       

          <div class="ui grid">
            <div class="left floated center aligned five wide column" style="color:orange"><h4><b>만족도</b></h4></div>            
           <div class="floated left aligned two wide column" style="margin-left:-5px;"><span class="starvalue">{{MyCourseBoard.StarPoint}}</span></div>
         
          </div>

              <div id="qna_border_a" class="ui raised segment">
                <h5><b>Comment</b></h5>
                  <p style="font-size:12px;">{{MyCourseBoard.CourseComment|linebreaks}}</p>
              </div>
          </div>
	        {%endfor%}
 
          {% if OtherCourseBoard.0 != None %}
        <h3><b>개인 평가 : </b></h3>
            {%endif%}
    		{%for OtherBoard in OtherCourseBoard%}
          <div id="recommending" class="ui column">
            
            <div class="ui divider" style="margin-top:-5px"></div>
            <h4><b>{{OtherBoard.CreatedID.UserName}} / {{OtherBoard.CreatedID.FirstMajor}}/{{OtherBoard.Course.Semester}}</b></h4>
            <div class="ui divider"></div>

           


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="secondcolumn" class="left floated center aligned sixteen wide column" style="margin-bottom:-15px;">과제량</div>
              <div id="lchoice" class="center floated right aligned three wide column" style="margin-left:10px;">
                <a id="tooltips"  data-toggle="tooltip" title="과제가 적게 나옴 &nbsp;">적음</a>
              </div>
              <div id="sldbr" class="center aligned nine wide column">
                <input type="text" id="sa{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Homework}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sa{{forloop.counter}}2C"/>
              </div>
              <div id="rchoice" class="center floated left aligned three wide column">
                <a id="tooltips" data-toggle="tooltip" title="과제가 많이 나옴 &nbsp;">많음</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="thirdcolumn" class="left floated center aligned sixteen wide column" style="margin-bottom:-15px;">난이도</div>
              <div id="lchoice" class="center floated right aligned three wide column" style="margin-left:10px;">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 낮음 &nbsp;">쉬움</a>
              </div>
              <div id="sldbr" class="center aligned nine wide column">
                <input type="text" id="sa{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Level_Difficulty}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sa{{forloop.counter}}3C"/>
              </div>
              <div id="rchoice" class="center floated left aligned four wide column" style="margin-left:-10px;">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 높음 &nbsp;">어려움</a>
              </div>
            </div>

            <div id="h_innersectiondivider" class="ui section divider"></div>

            <div class="ui grid" style="display:flex; flex-direction:row;" >
              <div id="fourthcolumn" class="center floated right aligned six wide column" style="margin-top:60px"><b>시험 방식</b></div>

              <div class="ui stackable center floated center aligned ten wide column"  >
                <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;" >
  
                  {% if OtherBoard.What_Answer|calculateData:1000 == 1 %}
                      <button type ="button" class="ui toggle button active" value="" disabled>서술형</button>
                  {%else%}
                      <button type ="button" class="ui toggle button" value="" disabled>서술형</button>
                  {%endif%}
                  {% if OtherBoard.What_Answer|calculateData:100 == 1 %}
                      <button type ="button" class="ui toggle button active" value="" disabled>단답형</button>
                  {% else %}
                      <button type ="button" class="ui toggle button" value="" disabled>단답형</button>
                  {%endif%}
                  {% if OtherBoard.What_Answer|calculateData:10 == 1%}
                      <button type ="button" class="ui toggle button active" value="" disabled>혼합형</button>
                  {% else %}
                      <button type ="button" class="ui toggle button" value="" disabled>혼합형</button>
                  {%endif%}
                  {% if OtherBoard.What_Answer|calculateData:1 == 1 %}
                    <button type ="button" class="ui toggle button active" value="" disabled>해당없음</button>
                  {%else%}
                    <button type ="button" class="ui toggle button" value="" disabled>해당없음</button>
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="ui grid" style="display:flex; flex-direction:row;" >
              <div id="fourthcolumn" class="center floated right aligned six wide column" style="margin-top:60px"><b>수업 방식</b></div>

              <div class="ui stackable center floated center aligned ten wide column">

                <div class="ui buttons" style="display:flex; flex-direction:column; width:70%;" >
                  {% if OtherBoard.Course_Answer|calculateData:100 == 1%}
                      <button type ="button" class="ui toggle button active" value="" disabled>교재 중심</button>
                  {%else%}
                     <button type ="button" class="ui toggle button" value="" disabled>교재 중심</button>
                  {%endif%}
                  {% if OtherBoard.Course_Answer|calculateData:10  == 1 %}
                      <button type ="button" class="ui toggle button active" value="" disabled>ppt 중심</button>
                  {% else %}
                     <button type ="button" class="ui toggle button" value="" disabled>ppt 중심</button>
                  {%endif%}
                  {% if OtherBoard.Course_Answer|calculateData:1  == 1%}
                      <button type ="button" class="ui toggle button active" value="" disabled>실습 중심</button>
                  {% else %}
                     <button type ="button" class="ui toggle button" value="" disabled>실습 중심</button>
                  {%endif%}
                  </div>
              </div>
            </div>
             

            <div class="ui piled segment">
              <h4 style="font-family:mono; margin-left:5px"><i class="glyphicon glyphicon-user" style="color:orange"></i>&nbsp; Recommended to: <br><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{OtherBoard.Who_Answer}}</b></h4>
              <br>
              
            </div>

       
            
          <div class="ui grid">
            <div class="left floated center aligned five wide column" style="color:orange"><h4><b>만족도</b></h4></div>            
           <div class="floated left aligned two wide column" style="margin-left:-5px;"><span class="starvalue">{{OtherBoard.StarPoint}}</span></div>
          </div>


            <div id="qna_border_a" class="ui raised segment">
              <h5><b>Comment</b></h5>
                  <p style="font-size:12px;">{{OtherBoard.CourseComment|linebreaks}}</p>
              </div>
          </div>
          
          <div id="h_innersectiondivider" class="ui section divider"></div>
        {%endfor%}
        
      
      {% if OtherCount.0 != None%}
		<div class="ui section divider"></div>
      <center><div id = "CoursePagenation" class="ui borderless pagination menu">
              <a id ="CoursePagePrevious" name = "{{PageInformation.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Prev
              </a>
              {%for i in OtherCount%}
              <a id = "CoursePageNumber" name ="{{i}}" class="item" >{{i}}</a>
              {%endfor%}
              <a id = "CoursePageNext" name ="{{PageInformation.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>   
        {%endif%}
       
      </div>
      {%endblock%}

  </body>
</html>