<!doctype html>
{% extends "m_skins/m_html/base.html" %}

   
  <head>
	{% block head%}

    <title>▒ SEAL ▒</title>

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>
	{% endblock%}
  </head>

  <body>
	{% block content%}
  <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">

      <h2 class="ui header"><i class="glyphicon glyphicon-question-sign"></i> Q&A</h2>

      <div id="subscribe" class="ui column">
        
		<form class="ui form" action="/QnA/Writing" method = "POST">
		{%csrf_token%}
          <h4 class="ui dividing header">글쓰기</h4>
          <div class="field">
          	<label for="msg-title-label">제목 : </label>
          	<input type="text" name="msg-title-input" placeholder="Title">
          </div>
          <div class="field">
          	<label for="msg-body-label">본문 : </label>
          	<textarea name="msg-body-txtarea" id="msg-body-txtarea" cols="30" rows="10" placeholder="Body" maxlength="500"></textarea>
          </div>
        <input type="submit" id="submit_qna" value="등록"  class="ui floated blue button">
        <a href="/QnA" class="ui floated red button" style="margin-left:8px">취소</a>

        </form>

      </div>

        <div class="ui section divider" style="margin-bottom: 0px; border-color: lightgray;"></div>
{%endblock%}
  </body>
</html>