#Swan {
	font-family: 'Fredoka One', cursive;
    color: #87CEFA;
    font-size: 30px;
}

#recommendtop > a {
    text-decoration: none;
}

#likebtn{
    margin-top: 2%;
    margin-left: 2%;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#contents {
    padding-top: 60px;
    padding-bottom: 200px;
}

div {
display: block;
}

.cname {
    font-size: 25px;
    font-weight: bold;
}

.glyphicon.glyphicon-heart {
    font-size: 40px;
    color: red;
}

#book > i {
    font-size: 50px;
    color: #87cefa;
}

#pencil > i {
    font-size: 50px;
    color: #87cefa;
}

#heart > i {
    font-size: 50px;
    color: #87cefa;
}

#eye > i{
    font-size: 50px;
    color: #87cefa;
}

#logout {
    font-size: 12px;
    font-weight: normal;
    color: red;
}

#firstcourse, #secondcourse, #thirdcourse, #fourthcourse, #fifthcourse, #sixthcourse, #seventhcourse {
    float: left;
    margin-right: 20px;
}

#recommendtop {
    margin-bottom: 20px;
}

#sl11, #sl12, #sl13, #sl14,
#sl21, #sl22, #sl23, #sl24,
#sl31, #sl32, #sl33, #sl34,
#sl41, #sl42, #sl43, #sl44,
#sl51, #sl52, #sl53, #sl54,
#sl61, #sl62, #sl63, #sl64,
#sl71, #sl72, #sl73, #sl74,
#sa11, #sa12, #sa13, #sa14,
#sa21, #sa22, #sa23, #sa24,
#sa31, #sa32, #sa33, #sa34,
#sa41, #sa42, #sa43, #sa44,
#sa51, #sa52, #sa53, #sa54,
#sa61, #sa62, #sa63, #sa64,
#sa71, #sa72, #sa73, #sa74,
#sk11, #sk12, #sk13, #sk14,
#sk21, #sk22, #sk23, #sk24,
#sk31, #sk32, #sk33, #sk34,
#sk41, #sk42, #sk43, #sk44,
#sk51, #sk52, #sk53, #sk54,
#sk61, #sk62, #sk63, #sk64,
#sk71, #sk72, #sk73, #sk74{
width : 177px;
}