<!DOCTYPE html>
 {% extends "base.html" %}
  {% load staticfiles %}
   {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static "css/LoginPage/loginpractice.css" %}" />
    <script type="text/javascript" src="{% static "js/LoginPage/loginpractice.js" %}"></script>

    <title>SEAL - Login</title>
   {% endblock%}
  </head>
  <body>
  {% block content%}

    <div class="container" style="padding:100px 0">
      <div class="col-sm-2"></div>

      <div class="col-sm-8" id="logincontainer">

        <div class="box" id="mycontent-left">
            <h class="title1 hidden-xs">SEAL</h>
            <p class="title2 visible-xs">SEAL</p>
            <p class="detail">캐치프레이즈</p>
            <p class="detail2">설명1</p>
            <p class="detail2">설명2</p>
        </div>
         

        <div class="box" id="mycontent-right">


          <form action = "/mysite2" method ="POST">{%csrf_token%}

            <div class="form-group" method="post" action="#">
              <label class="control-label" for="username">아이디</label>
              <input type="text" id="UserID" name ="UserID" class="form-control" placeholder="아이디">
              <label class="control-label" for="password" style="padding-top: 15px;">비밀번호</label>
              <input type="password" id="UserPassword" name ="UserPassword" class="form-control" placeholder="비밀번호">
            </div>

            <div class="form-group" method="post" action="#">
              <input type="submit" id="login" value="Login" class="btn btn-info">
			  <a href ="/mysite2/Register"><input type="button" id="register" value="Register" class="btn btn-info"></a>
            </div>

          </form>

        </div>
      </div>

      <div class="col-sm-2"></div>      
    </div>

  {%endblock%}
  </body>
</html>
