{% load app_filter %}
{%load staticfiles%}


			 {% if CourseName == None %}
       {% for PBoard3 in PageBoard.2%}
          {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">
          {% endif %}
            <div class="column">
             <div class="ui raised segment">

              <h4><b>{{PBoard3.CreatedID.UserName}}/{{PBoard3.CreatedID.User.username.1}}{{PBoard3.CreatedID.User.username.2}}학번/{{PBoard3.CreatedID.FirstMajor}}</b></h4>

               <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">
                <center><i class="glyphicon glyphicon-heart"></i></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{TotalAdd.2|lookup:forloop.counter0}}</span> SEALS</center>
              </div>
              
                 [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard3.Course.Code}}</span>]
                 <p ><a style="cursor:pointer"><span id = "cname"  class="cname" name="cname" value = "">{{PBoard3.Course.CourseName}}</span></a></p>
                <input type = "hidden" id="period" value = "{{PBoard3.Period}}">
                <span id="semester">{{PBoard3.Course.Semester}}학기</span>
                <p><span id="professor">{{PBoard3.Course.Professor}} 교수님</span></p>

                <br/>

          <div id="recommending" class="ui column">
            <div id="blankspace" class="ui column"></div>

            {% if PBoard3.Check == True %}
          <button type ="button" id="enable6" style="background-color:#FFEB3B" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
            {% else %}
           <button type ="button" id="enable6" style="background-color:#CCC" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
           {%endif%}
           <div class="center aligned sixteen wide column" style="margin-left:115px; margin-top:-30px; margin-bottom:20px;"><span class="starvalue">{{PBoard3.StarPoint}}</span></div>        
              

           <div id="qna_border_a" class="ui raised segment" style="margin-right: 2px;"><b>Comment</b>
            <div id="open" >
                    {{PBoard3.CourseComment|truncatechars:30|linebreaks}}</div>
            <div id ="close" style="display:none">
              {{PBoard3.CourseComment|linebreaks}}</div>
             
              </div>
          </div>

            </div>
          </div>
        {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
        <div class="ui divider"></div>
          {% endif %}
      {% endfor%} 

			  <center><div id ="ThirdPageNation" class="ui borderless pagination menu">
              <a id ="Previous" class="item" name="{{PageInformation.2.0}}">
                <i class="glyphicon glyphicon-menu-left"></i> Previous   
              </a>
			
				{% for i in TotalCount.2%}
				{%if i == Page %}
         <a id ="Page" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="Page" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}{%endfor%}
              <a id = "Next" name = "{{PageInformation.2.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
            
      {% elif ProSelect == 1 %}
      {% for PBoard3 in PageBoard.2%}
       {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">

          {% endif %}
            <div class="column">
            <div class="ui raised segment">
              <div class="sixteen wide column">
              <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">

                <center><button class="likebutton" name = "{{PBoard3.Course.id}}" ><i class="glyphicon glyphicon-heart"></i></button></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{PBoard3.Total_Count}}</span> SEALS</center>
              </div>
              

              <div class="sixteen wide column">

                [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard3.Course.Code}}</span>]
                <p><a  href ="/CourseProfessor/{{PBoard3.Course.id}}"><span  class="cname" name="cname" value = "">{{PBoard3.Course.CourseName}}</span></a></p>
                <p><span id="cprof1" name = "cprof">{{PBoard3.Course.Professor}} 교수님</span></p>                
              </div>
            </div>

               <div class="center aligned sixteen wide column">
                <br>
                <div class="center aligned sixteen wide column" style="margin-left:155px"><span class="starvalue"></span></div> 
                <br>
                  <a id="tooltips" data-toggle="tooltip" title="강의속도가 느림">느림</a>
                  <input type="text" id="sa{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Speedy}}" data-slider-id="sl{{forloop.counter}}1C"/>
                  <a id="tooltips"  data-toggle="tooltip" title="강의속도가 빠름">빠름</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
                  <input type="text" id="sa{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Reliance}}" data-slider-id="sl{{forloop.counter}}2C"/>
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="간단히 요약해서 강의하심">요약적</a>
                  <input type="text" id="sa{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Question}}" data-slider-id="sl{{forloop.counter}}3C"/>
                  <a id="tooltips" data-toggle="tooltip" title="학생들이 이해할 수 있도록 자세하게 강의하심">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">과내 도움</a>
                  <input type="text" id="sa{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Helper}}" data-slider-id="sl{{forloop.counter}}4C"/>
                  <a id="tooltips" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">과외 도움</a>
              </div>
            </div>
        </div>
        {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
        <div class="ui divider"></div>
          {% endif %}
            {% endfor%} 

      <center><div id ="ProPageNation" name="AllPageNation" class="ui borderless pagination menu">
              <a id ="ProPrevious" name="{{PageInformation.0.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
      
        {% for i in TotalCount.2%}
         
        {%if i == Page %}
         <a id ="ProPage" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="ProPage" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}
          {%endfor%}
              <a id ="ProNext" name = "{{PageInformation.0.2}}" class="item" >
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
              <input type = "hidden" id="CourseHidden" value = "{{CourseName}}">
            </div></center>
      {%else%}
      {% for PBoard3 in PageBoard.2%}
        {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">

          {% endif %}
            <div class="column">
            <div class="ui raised segment">
              <div class="sixteen wide column">
              <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">

                <center><button id="likebutton" name = "{{PBoard3.Course.id}}" ><i class="glyphicon glyphicon-heart"></i></button></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{PBoard3.Total_Count}}</span> SEALS</center>
              </div>
              

              <div class="sixteen wide column">

                [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard3.Course.Code}}</span>]
                <p><a href="/mysite2/Course/{{PBoard3.Course.id}}"><span  class="cname" name="cname" value = "">{{PBoard3.Course.CourseName}}</span></a></p>
                <p><span id="cprof1" name = "cprof">{{PBoard3.Course.Professor}} 교수님</span></p>
                <p><span id="csem1" name = "cprof">{{PBoard3.Course.Semester}} 학기</span></p>

              </div>
            </div>

              <div class="center aligned sixteen wide column">
                <br>
                <div class="center aligned sixteen wide column" style="margin-left:155px"><span class="starvalue"></span></div> 
                <br>
                  <a id="tooltips" data-toggle="tooltip" title="강의속도가 느림">느림</a>
                  <input type="text" id="sa{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Speedy}}" data-slider-id="sl{{forloop.counter}}1C"/>
                  <a id="tooltips"  data-toggle="tooltip" title="강의속도가 빠름">빠름</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
                  <input type="text" id="sa{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Reliance}}" data-slider-id="sa{{forloop.counter}}2C"/>
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="간단히 요약해서 강의하심">요약적</a>
                  <input type="text" id="sa{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Question}}" data-slider-id="sa{{forloop.counter}}3C"/>
                  <a id="tooltips" data-toggle="tooltip" title="학생들이 이해할 수 있도록 자세하게 강의하심">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">과내 도움</a>
                  <input type="text" id="sa{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard3.Total_Helper}}" data-slider-id="sa{{forloop.counter}}4C"/>
                  <a id="tooltips" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">과외 도움</a>
              </div>
            </div>
           </div>
          {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
          </div>
          <div class="ui divider"></div>
            {% endif %}
              {% endfor%} 

      <center><div id ="ThirdPageNation" name="AllPageNation" class="ui borderless pagination menu">
              <a id ="CoursePrevious" name="{{PageInformation.0.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
      
        {% for i in TotalCount.2%}
         
        {%if i == Page %}
         <a id ="CoursePage" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="CoursePage" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}
{%endfor%}
              <a id ="CourseNext" name = "{{PageInformation.0.2}}" class="item" >
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>

              <input type = "hidden" id="CourseHidden" value = "{{CourseName}}">
            </div></center>
       
        {%endif%}
<script type="text/javascript" src="{% static "js/indexslider.js" %}"></script>