

<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load staticfiles %} 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css"%}">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/slider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/feed.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/seal_menubar.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/seal_profile.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/seal_bestc.css"%}">    
    <link rel="stylesheet" type="text/css" href="{% static "css/IndexPage/main.css" %}">
    
    <script type="text/javascript" src="{% static "js/jquery.js"%}"></script>   
    
    <script type="text/javascript" src="{% static "js/jquery-2.1.3.js"%}"></script>

    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-slider.js" %}"></script>
    <script type="text/javascript" src="{% static "js/feed.js" %}"></script>
     <script type="text/javascript" src="{% static "js/semantic.js" %}"></script>
    <script type="text/javascript" src="{% static "js/indexslider.js" %}"></script>
    <script type="text/javascript" src="{% static "js/likebtn.js" %}"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74131495-1', 'auto');
      ga('send', 'pageview');
    </script>
   
   <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
      #bottom {
        margin-top: 10px;
        background-color: #ffffff;
        width: 100%;
      }

      #bottomtxt {
        font-weight: bold;
        color: #87cefa;
      }
    </style>
    
    {% block head %}
     
    {% endblock%}

    <title> {% block title %} SEAL - Login {% endblock %}</title>
         <link rel="shortcut icon" href="{% static "css/seal_title.png" %}">

  </head>
  <body>


    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
   
   {% if not user == None%}
    <!-- Preloader -->
    
    <div id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-10 col-sm-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="{% static "css/seal_logo.png" %} " height="40px" width="40px" style="display:inline; margin-top:-10px; margin-right:5px;">SEAL</a>
            <form id = "form" class="navbar-form navbar-left col-xs-5 form-inline" role="search"  action="/Search/" method = "POST" >{%csrf_token%}
                <input type="text" id="search" name="search" class="form-control" placeholder="Search">
                <button type="submit" id ="SearchButton" class="btn btn-info" style="float:right" onclick=""><i class="glyphicon glyphicon-search"></i></button>
      
              <div class="form-group">

              </div>
             </form>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/MyPage">MY PAGE</a></li>
              <li><a href= "/About">ABOUT</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HELP<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/QnA">Q&A</a></li>
                  <li><a href="/Notice">공지사항</a></li>
                  <li><a href="/Judgement">신고</a></li>
                  <li><a href="/SubScript">개선요구사항</a></li>
                  <li><a href="/SiteMap">SITEMAP</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-1 col-sm-0"></div>
      </div>
    </div>
   {%endif%}

    {% block content %} {% endblock %}


    {% if not user == None%}
      
        <div id="h_sectiondivider" class="ui section divider"></div>


      <div class="ui vertical feature segment">
        <div class="ui very relaxed column grid">   
          <div class="wide column">
            <div class="ui four column center aligned stackable divided grid">

              <div class="column">
                <div id="book" class="ui icon header">
                  <i class="glyphicon glyphicon-book"></i><br />STRONG Students
                </div>
                <p>SEAL is here for the best achievements of Handong students!</p>
                <a class="ui button" href="http://sugang.handong.edu/">Register Courses NOW</a>
              </div>

              <div class="column">
                <div id="pencil" class="ui icon header">
                  <i class="glyphicon glyphicon-pencil"></i><br />Wanted Features
                </div>
                <p>We provide valid information of powerful and suitable courses just for you.</p>
                <a class="ui button" href="http://seal.handong.edu/">SEAL.handong.edu</a>
              </div>
                          
              <div class="column">
                <div id="heart" class="ui icon header">
                  <i class="glyphicon glyphicon-heart"></i><br />Agreeable Contents
                </div>
                <p>Check out the reliable comments from your professors and TA's!</p>
                <p><a class="ui button">Check it out</a></p>
              </div>

              <div class="column">
                <div id="eye" class="ui icon header">
                  <i class="glyphicon glyphicon-eye-open"></i><br />Need your attention
                </div>
                <p>Why not change the world? We respect the <b>Honor Code</b>.</p>
                <a class="ui button" href="https://www.handong.edu/about/vision/declar/">Honor Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

              <profile id="profile" class="col-md-2 col-sm-2 col-xs-2">
                   
                <h3><a href="/MyPage"><span id="name">{{user.profile.UserName}}</span></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Logout"><span id="logout">LOGOUT</span></a><span id="detail"><br /><span id="year">{{user.username.1}}{{user.username.2}}</span>학번 / <span id="major">{{user.profile.FirstMajor}}</span></span></h3>

                <p><span id="label"><a href="/MyCourse">내가 평가한 강의</a> </span> <span id="num"><span id="num1">{{user.profile.RecommendCount}}</span> 개</span></p>

                <p id="last"><span id="label"><a href="/MyCourse">듣고 싶은 강의</a> </span> <span id="num"><span id="num2">{{user.profile.LikeCount}}</span> 개</span></p>

                <a href="/Schedule"><button class="btn btn-info"><span id="btntext">My Schedule</span></button></a>

              </profile>

              <best id="best" class="col-md-2 col-sm-2 col-xs-2">
                    
                <h3 id="best-title">HOT COURSES</h3>
       
                <span id="best-list">   
                  <h3 class="col-md-1 col-sm-1 col-xs-1">
                    <span id="num1"><a href="/CourseProfessor/{{BestBoard.0.Course.id}}">1</a></span>
                    <span id="num2"><a href="/CourseProfessor/{{BestBoard.1.Course.id}}">2</a></span>
                    <span id="num3"><a href="/CourseProfessor/{{BestBoard.2.Course.id}}">3</a></span>
                  </h3>

                <p id="first-place" class="col-md-9 col-sm-9 col-xs-9">
                  <span id="coursename1">{{BestBoard.0.Course.CourseName|truncatechars:9}}</span><br />
                  <span id="pname1">{{BestBoard.0.Course.Professor|truncatechars:6}} 교수님</span><br />
                  <span id="rnumall1"><img src="{% static "css/seal_mini.png" %}"><span id="rnum1">{{BestBoard.0.Total_Count}} </span>Seals</span>
                </p>

                <p id="second-place" class="col-md-9 col-sm-9 col-xs-9">
                  <span id="coursename2">{{BestBoard.1.Course.CourseName|truncatechars:9}}</span><br />
                  <span id="pname2">{{BestBoard.1.Course.Professor|truncatechars:6}} 교수님</span><br />
                  <span id="rnumall2"><img src="{% static "css/seal_mini.png" %}"><span id="rnum2">{{BestBoard.1.Total_Count}}</span> Seals</span>
                </p>

                <p id="third-place" class="col-md-9 col-sm-9 col-xs-9">
                  <span id="coursename3">{{BestBoard.2.Course.CourseName|truncatechars:9}}</span><br />
                  <span id="pname3">{{BestBoard.2.Course.Professor|truncatechars:6}} 교수님</span><br />
                  <span id="rnumall3"><img src="{% static "css/seal_mini.png" %}"><span id="rnum3">{{BestBoard.2.Total_Count}} </span>Seals</span>
                </p>
                    
                </span>

              </best>
 

    <div class="col-md-1 col-sm-0 col-xs-0"></div>


  <div>
    
  <div class="ui footer">
      <div class="container">
          <div class="ui stackable inverted divided relaxed grid">
          </div>
      </div>
  </div>
    
  <br></br>

    <div class="ui blue inverted alternate stripe vertical segment">
        <div class="ui stackable center aligned page grid">
            <div class="fourteen wide column">
                <h4>Powered by CRA</h4>
            </div>
        </div>
    </div>
  
  </div>

    
{%endif%}
    <!-- Preloader -->
    <script type="text/javascript">
      //<![CDATA[
      $(window).load(function() { // makes sure the whole site is loaded
        $('#status').fadeIn(); // will first fade out the loading animation
        $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({'overflow':'visible'});
      });
      //]]>
    </script>
   
  </body>
</html>

