

<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load staticfiles %} 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css"%}">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/slider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/feed.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/seal_menubar.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/seal_profile.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/seal_bestc.css"%}">    
    <link rel="stylesheet" type="text/css" href="{% static "css/IndexPage/main.css" %}">
    
    <script type="text/javascript" src="{% static "js/jquery.js"%}"></script>   
    <script type="text/javascript" src="{% static "js/jquery-2.1.3.js"%}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-slider.js" %}"></script>
    <script type="text/javascript" src="{% static "js/feed.js" %}"></script>
    <script type="text/javascript" src="{% static "js/semantic.js" %}"></script>
    <script type="text/javascript" src="{% static "js/likebtn.js" %}"></script>
   
   <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
      #bottom {
        margin-top: 10px;
        background-color: #ffffff;
        width: 100%;
      }

      #bottomtxt {
        font-weight: bold;
        color: #87cefa;
      }
    </style>
    
    {% block head %}
     아아아   
    {% endblock%}

    <title> {% block title %} SWAN - Login {% endblock %}</title>
  


  </head>
  <body>
   
   {% if not user == None%}
    <!-- Preloader -->
    
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>


    <div id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="col-md-1 col-sm-0"></div>
        <div class="col-md-10 col-sm-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="/mysite2">SEAL</a>
            <form id = "form" class="navbar-form navbar-left col-xs-5 form-inline" role="search"  action="/mysite2/Search/" method = "POST" >{%csrf_token%}
                <input type="text" id="search" name="search" class="form-control" placeholder="Search">
                <button type="submit" id ="SearchButton" class="btn btn-info"  onclick="">Search <i class="glyphicon glyphicon-search"></i></button>
      
              <div class="form-group">

              </div>
             </form>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/mysite2/MyPage">MY PAGE</a></li>
              <li><a href= "/mysite2/About">ABOUT</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HELP<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/mysite2/QnA">Q&A</a></li>
                  <li><a href="/mysite2/Notice">공지사항</a></li>
                  <li><a href="/mysite2/Judgement">신고</a></li>
                  <li><a href="/mysite2/SubScript">개선요구사항</a></li>
                  <li><a href="/mysite2/SiteMap">SITEMAP</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-1 col-sm-0"></div>
      </div>
    </div>
   {%endif%}

    {% block content %} {% endblock %}


    {% if not user == None%}
      
        <div id="h_sectiondivider" class="ui section divider"></div>


      <div class="ui vertical feature segment">
        <div class="ui very relaxed column grid">   
          <div class="wide column">
            <div class="ui four column center aligned stackable divided grid">

              <div class="column">
                <div id="book" class="ui icon header">
                  <i class="glyphicon glyphicon-book"></i><br />STRONG Students
                </div>
                <p>We are here to help students take the right courses to improve themseleves!</p>
                <a class="ui button" href="http://sugang.handong.edu/">Register Courses NOW</a>
              </div>

              <div class="column">
                <div id="pencil" class="ui icon header">
                  <i class="glyphicon glyphicon-pencil"></i><br />Wanted Features
                </div>
                <p>We provide valid information about powerful courses that suit just for you.</p>
                <a class="ui button" href="file:///C:/workspace/html%20project%20practice/index.html">www.SEAL.com</a>
              </div>
                          
              <div class="column">
                <div id="heart" class="ui icon header">
                  <i class="glyphicon glyphicon-heart"></i><br />Agreeable Contents
                </div>
                <p>Check out the reliable comments from your professors!</p>
                <p><a class="ui button" href="#">Check it out</a></p>
              </div>

              <div class="column">
                <div id="eye" class="ui icon header">
                  <i class="glyphicon glyphicon-eye-open"></i><br />Need your attention
                </div>
                <p>Why not change the world? We respect the Honor Code.</p>
                <a class="ui button" href="#">Honor Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <profile id="profile" class="col-md-2 col-sm-2 col-xs-2">
                    
      <h3><a href="/mysite2/MyPage"><span id="name">{{user.profile.UserName}}</span></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/mysite2/Logout"><span id="logout">LOGOUT</span></a><span id="detail"><br /><span id="year">{{user.username.1}}{{user.username.2}}</span>학번 / <span id="major">{{user.profile.FirstMajor}}</span></span></h3>

      <p><span id="label"><a href="/mysite2/MyCourse">내가 추천한 강의</a> : </span> <span id="num"><span id="num1">{{user.profile.RecommendCount}}</span> 개</span></p>

      <p id="last"><span id="label"><a href="/mysite2/MyCourse">듣고 싶은 강의</a> : </span> <span id="num"><span id="num2">{{user.profile.LikeCount}}</span> 개</span></p>

      <a href="/mysite2/Schedule"><button class="btn btn-info"><span id="btntext">My Schedule</span></button></a>

    </profile>

    <best id="best" class="col-md-2 col-sm-2 col-xs-2">
                    
      <h3 id="best-title">BEST COURSES</h3>

      <span id="best-list">   
        <h3 class="col-md-1 col-sm-1 col-xs-1">
          <span id="num1"><a href="/mysite2/Course/{{BestBoard.0.Course.id}}">1</a></span>
          <span id="num2"><a href="/mysite2/Course/{{BestBoard.1.Course.id}}">2</a></span>
          <span id="num3"><a href="/mysite2/Course/{{BestBoard.2.Course.id}}">3</a></span>
        </h3>

        <p id="first-place" class="col-md-9 col-sm-9 col-xs-9">
          <span id="coursename1">{{BestBoard.0.Course.CourseName|truncatechars:10}}</span><br />
          <span id="pname1">{{BestBoard.0.Course.Professor}} 교수님</span><br />
          <span id="rnumall1"><i class="glyphicon glyphicon-heart"></i> <span id="rnum1">{{BestBoard.0.Total_Count}} </span>Likes</span>
        </p>

        <p id="second-place" class="col-md-9 col-sm-9 col-xs-9">
          <span id="coursename2">{{BestBoard.1.Course.CourseName|truncatechars:10}}</span><br />
          <span id="pname2">{{BestBoard.1.Course.Professor}} 교수님</span><br />
          <span id="rnumall2"><i class="glyphicon glyphicon-heart"></i> <span id="rnum2">{{BestBoard.1.Total_Count}}</span> Likes</span>
        </p>

        <p id="third-place" class="col-md-9 col-sm-9 col-xs-9">
          <span id="coursename3">{{BestBoard.2.Course.CourseName|truncatechars:10}}</span><br />
          <span id="pname3">{{BestBoard.2.Course.Professor}} 교수님</span><br />
          <span id="rnumall3"><i class="glyphicon glyphicon-heart"></i> <span id="rnum3">{{BestBoard.2.Total_Count}}</span>Likes</span>
        </p>
                    
      </span>

    </best>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>


  <div class="col-sm-12">
    
  <div class="ui footer vertical segment">
      <div class="container">
          <div class="ui stackable inverted divided relaxed grid">
          </div>
      </div>
  </div>
    
    <div class="ui blue inverted alternate stripe vertical segment">
        <div class="ui stackable center aligned page grid">
            <div class="fourteen wide column">
                <h4>Powered by CRA</h4>
            </div>
        </div>
    </div>
  
  </div>

    

    <!-- Preloader -->
    <script type="text/javascript">
      //<![CDATA[
      $(window).load(function() { // makes sure the whole site is loaded
        $('#status').fadeIn(); // will first fade out the loading animation
        $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({'overflow':'visible'});
      });
      //]]>
    </script>
   {%endif%}
  </body>
</html>

