<!doctype html>
{% extends "base.html"%}
<html lang='ko'>
  <head>
  {% load staticfiles%}
  {% block head%}
    <title>{%block title %} ▒ SEAL ▒{%endblock%} </title>
  <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>  
    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static "css/course.css" %}">
    <script type="text/javascript" src="{% static "js/course.js" %}"></script>
  {%endblock%}  
  </head>

  <body>
    {% block content%}

    <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-8 col-sm-10 col-xs-10">

      <h2 class="ui header"><i class="glyphicon glyphicon-book"></i> Courses</h2>

      <div class="ui section divider"></div>

      <div class="ui column">
                
        <p id="ccode_p">[<span id="ccode">{{CourseBoard.Course.Code}}</span>]<br />
        <span id="cname">{{CourseBoard.Course.CourseName}}</span> <br/>
       
     
        <span id="cprof">{{CourseBoard.Course.Professor}} 교수님</span></p>
        <a href="/mysite2/Recommend/{{CourseBoard.Course.id}}"><button class="btn btn-danger">추천하기!</button></a>
       <a href="/mysite2/Like/{{CourseBoard.Course.id}}"><button class="btn btn-info">듣고싶어!</button></a>
        </form> 

      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div class="ui column">

        <h3><b>전체 평균 : </b></h3>

        <div id="recommending" class="ui column">

          <div id="blankspace" class="ui column"></div>

          <div class="ui grid">
            <div id="firstcolumn" class="left floated center aligned four wide column">진도 속도</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="신속하게 중요한 점들만 짚어 가신다">신속함</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl1" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Speedy}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl1C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="느긋하고 자세하게 가르쳐 주신다">느긋함</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="secondcolumn" class="left floated center aligned four wide column">강의 교재</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="주로 교재에 있는 내용을 바탕으로 가르쳐 주신다">교재 위주</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl2" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Reliance}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl2C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="강의에서 사용하는 PPT나 강의 말씀이 중요하다">강의 위주</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="thirdcolumn" class="left floated center aligned four wide column">실질적 도움</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">교내에서 도움</a>
            </div>
            <div class="left floated center aligned six wide column">
               <input type="text" id="sl3" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Helper}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl3C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">교외에서 도움</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="fourthcolumn" class="left floated center aligned four wide column">질문에 대한 대답</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="요약해서 중요한 점들만 알기 쉽게 가르쳐 주신다">요약됨</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl4" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Question}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl4C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="자세하게 이해할 때까지 가르쳐 주신다">자세함</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="fifthcolumn" class="left floated center aligned four wide column">시험 방식</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="주로 에세이 형식으로 나타난다">주관식 위주</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl5" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Exam}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl5C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="주로 선택지 형식으로 나타난다">객관식 위주</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="sixthcolumn" class="left floated center aligned four wide column">과제물 방식</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="조별로 나뉘어서 하는 과제가 많다">조별과제 위주</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl6" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Homework}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl6C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" href="#" data-toggle="tooltip" title="개인별로 나뉘어서 하는 과제가 많다">개인과제 위주</a>
            </div>
          </div>

        </div>

      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div class="ui column">
        <h3><b>교수님 COMMENT : </b></h3>
        <div id="recommending" class="ui column"></div>
      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div class="ui column">
        <h3><b>TA COMMENT : </b></h3>
        <div id="recommending" class="ui column"></div>
      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div class="ui column">
        <h3><b>개인 : {{MyCourseBoard.Reliance}}</b></h3>
         {%if  MyCourseBoard != None%}
		<div id="recommending" class="ui column">
          <h4><b>{{user.profile.UserName}}/{{user.username.1}}{{user.username.2}}학번/{{user.profile.FirstMajor}}</b></h4>
          <div id="recommending" class="ui column">
            <div id="blankspace" class="ui column"></div>

            <div class="ui grid">
              <div id="firstcolumn" class="left floated center aligned four wide column">진도 속도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="신속하게 중요한 점들만 짚어 가신다">신속함</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl01" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Speedy}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}1C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="느긋하고 자세하게 가르쳐 주신다">느긋함</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="secondcolumn" class="left floated center aligned four wide column">강의 교재</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="주로 교재에 있는 내용을 바탕으로 가르쳐 주신다">교재 위주</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl02" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Reliance}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}2C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="강의에서 사용하는 PPT나 강의 말씀이 중요하다">강의 위주</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="thirdcolumn" class="left floated center aligned four wide column">실질적 도움</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">교내에서 도움</a>
              </div>
              <div class="left floated center aligned six wide column">
                 <input type="text" id="sl03" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Helper}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}3C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">교외에서 도움</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="fourthcolumn" class="left floated center aligned four wide column">질문에 대한 대답</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="요약해서 중요한 점들만 알기 쉽게 가르쳐 주신다">요약됨</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl04" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Question}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl04C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="자세하게 이해할 때까지 가르쳐 주신다">자세함</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="fifthcolumn" class="left floated center aligned four wide column">시험 방식</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="주로 에세이 형식으로 나타난다">주관식 위주</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl05" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Exam}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl05C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="주로 선택지 형식으로 나타난다">객관식 위주</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="sixthcolumn" class="left floated center aligned four wide column">과제물 방식</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="조별로 나뉘어서 하는 과제가 많다">조별과제 위주</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl06" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Homework}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl06C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="개인별로 나뉘어서 하는 과제가 많다">개인과제 위주</a>
              </div>
            </div>
          </div>
	
		</div>
      {% endif %} 

		{%for OtherBoard in OtherCourseBoard%}
          <div id="h_outersectiondivider" class="ui section divider"></div>
          <h4><b>{{OtherBoard.CreatedID.UserName}} / {{OtherBoard.CreatedID.User.username.1}}{{OtherBoard.CreatedID.User.username.2}} 학번/ {{OtherBoard.CreatedID.FirstMajor}}</b></h4>
          <div id="recommending" class="ui column">
            <div id="blankspace" class="ui column"></div>

            <div class="ui grid">
              <div id="firstcolumn" class="left floated center aligned four wide column">진도 속도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="신속하게 중요한 점들만 짚어 가신다">신속함</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Speedy}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}1C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="느긋하고 자세하게 가르쳐 주신다">느긋함</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="secondcolumn" class="left floated center aligned four wide column">강의 교재</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="주로 교재에 있는 내용을 바탕으로 가르쳐 주신다">교재 위주</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Reliance}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}2C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="강의에서 사용하는 PPT나 강의 말씀이 중요하다">강의 위주</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="thirdcolumn" class="left floated center aligned four wide column">실질적 도움</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">교내에서 도움</a>
              </div>
              <div class="left floated center aligned six wide column">
                 <input type="text" id="sl{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Helper}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}3C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">교외에서 도움</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="fourthcolumn" class="left floated center aligned four wide column">질문에 대한 대답</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="요약해서 중요한 점들만 알기 쉽게 가르쳐 주신다">요약됨</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Question}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}4C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="자세하게 이해할 때까지 가르쳐 주신다">자세함</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="fifthcolumn" class="left floated center aligned four wide column">시험 방식</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="주로 에세이 형식으로 나타난다">주관식 위주</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}5" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Exam}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}5C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="주로 선택지 형식으로 나타난다">객관식 위주</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="sixthcolumn" class="left floated center aligned four wide column">과제물 방식</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="조별로 나뉘어서 하는 과제가 많다">조별과제 위주</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}6" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Homework}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}6C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" href="#" data-toggle="tooltip" title="개인별로 나뉘어서 하는 과제가 많다">개인과제 위주</a>
              </div>
            </div>
          </div>

        {%endfor%}
        
           
        
      </div>

		<div class="ui section divider"></div>
      <center><div class="ui borderless pagination menu">
              <a class="item" href = "/mysite2/Course/{{CourseBoard.Course.id}}/Page/{{PageInformation.0}}">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {%for i in OtherCount%}
              <a href = "/mysite2/Course/{{CourseBoard.Course.id}}/Page/{{i}}" class="item" >{{i}}</a>
              {%endfor%}
              <a class="item" href = "/mysite2/Course/{{CourseBoard.Course.id}}/Page/{{PageInformation.2}}">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>

      {%endblock%}

  </body>
</html>