<!doctype html>
{% extends "html/base.html" %}

   
<html lang='ko'>
  <head>
  {% load staticfiles%}
  {% block head%}
    <title>{%block title %} ▒ SEAL ▒{%endblock%} </title>
         <link rel="shortcut icon" href="../static/css/seal_title.png">

  <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>  
    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static "css/course.css" %}">
       <script type="text/javascript" src="{% static "js/starjs.js" %}"></script>
    <script type="text/javascript" src="{% static "js/course.js" %}"></script>
    <script>

    
    </script>
  {%endblock%}  
  </head>

  <body>
    {% block content%}

    <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-8 col-sm-10 col-xs-10">

      <h1 class="ui header"><img src="{% static "css/seal.png" %}" height="60px" width="60px"> Evaluation Result</h1>

      <div class="ui section divider"></div>

      <div class="ui column">
                
        <p id="ccode_p">[<span id="ccode">{{CourseBoard.Course.Code}}</span>]<br />
        <span id="cname">{{CourseBoard.Course.CourseName}}</span> <br/>
       
     
        <span id="cprof">{{CourseBoard.Course.Professor}} 교수님</span></p>
        <a href="/Recommend/{{CourseBoard.Course.id}}"><button class="btn btn-danger">평가하기!</button></a>
        <a id="listenButton" name = "{{CourseBoard.Course.id}}"><button class="btn btn-info">듣고싶어!</button></a>
       
      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div class="ui column">

        <h3><b>전체 평균 : </b></h3>

        <div id="recommending" class="ui column">

          <div id="blankspace" class="ui column"></div>

          <div class="ui grid">
            <div id="firstcolumn" class="left floated center aligned four wide column">진도 속도</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" data-toggle="tooltip" title="강의속도가 느림">느림</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl1" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Speedy}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl1C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="강의속도가 빠름">빠름</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="secondcolumn" class="left floated center aligned four wide column">교재 사용도</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl2" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Reliance}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl2C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="thirdcolumn" class="left floated center aligned four wide column">난이도</div>
            <div class="left floated right aligned three wide column">
              <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 낮음">쉬움</a>
            </div>
            <div class="left floated center aligned six wide column">
               <input type="text" id="sl3" data-slider-min="1" data-slider-max="9" data-slider-value="{{CourseBoard.Total_Question}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl3C"/>
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 높음">어려움</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="fourthcolumn" class="left floated center aligned four wide column">시험 방식</div>
            <div class="right floated center aligned twelve wide column">
              {% if CourseBoard.Total_Mix >= CourseBoard.Total_Short_Answer and CourseBoard.Total_Mix >= CourseBoard.Total_Long_Answer %}
                  <button type ="button" class="ui button" value="">단답형</button>
              {% elif CourseBoard.Total_Short_Answer >= CourseBoard.Total_Mix and CourseBoard.Total_Short_Answer >= CourseBoard.Total_Long_Answer %}
                  <button type ="button" class="ui button" value="">서술형</button>
              {% elif Courseboard.Total_Long_Answer >= CourseBoard.Total_Mix and CourseBoard.Total_Long_Answer >= CourseBoard.Total_Short_Answer %}
                  <button type ="button" class="ui button" value="">혼합형</button>
              {% else %}
               GG
              {%endif%}
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>

          <br><br>

          <div class="ui grid">

            <div class="left floated right aligned four wide column" style="color:purple; margin-left:-30px; margin-right: 20px;"><h4><b>추천</b></h4></div>
            <button type ="button" style="background-color:#FFEB3B; font-size:18px;" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button><h4 style="display:inline"><b>{{GoodCount}}</b></h4>

            <div class="floated right aligned four wide column" style="color:orange"><h4><b>만족도</b></h4></div>            
           <div class="center left aligned two wide column"><span id="starpoint" class="starvalue">{{CourseBoard.Total_StarPoint}}</span></div>
          
      
        </div>

      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div class="ui column">
        <h3><b>교수님 COMMENT : </b></h3>
        <div id="recommending" class="ui column"></div>
      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div class="ui column">
        <h3><b>TA COMMENT : </b></h3>
        <div id="recommending" class="ui column"></div>
      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>
      <div id="CoursePage">
      <div class="ui column">
        <h3><b>개인 : </b></h3>
        
		<div id="recommending" class="ui column">
     {%for MyCourseBoard in MyCourseBoard%}
     <h4><b>{{user.profile.UserName}}/{{user.username.1}}{{user.username.2}}학번/{{user.profile.FirstMajor}}/{{MyCourseBoard.Course.Semester}}</b></h4>      
          <div id="recommending" class="ui column">                
            <div id="blankspace" class="ui column"></div>

            <div class="ui grid">
              <div id="firstcolumn" class="left floated center aligned four wide column">진도 속도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips"  data-toggle="tooltip" title="강의 속도가 느림">느림</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Speedy}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}1C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" data-toggle="tooltip" title="강의속도가 빠름">빠름</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="secondcolumn" class="left floated center aligned four wide column">교재 사용도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Reliance}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}2C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="thirdcolumn" class="left floated center aligned four wide column">난이도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 낮음">쉬움</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sl{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-value="{{MyCourseBoard.Question}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl{{forloop.counter}}3C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 높음">어려움</a>
              </div>
            </div>

            <div id="h_innersectiondivider" class="ui section divider"></div>

            <div class="ui grid">
              <div id="fourthcolumn" class="left floated center aligned four wide column">시험 방식</div>
              <div class="right floated center aligned twelve wide column">
                  {% if MyCourseBoard.What_Answer == 1%}
                  <button type ="button" class="ui button" value="">단답형</button>
                  {% elif MyCourseBoard.What_Answer == 2%}
                      <button type ="button" class="ui button" value="">서술형</button>
                  {% elif MyCourseBoard.What_Answer == 3%}
                      <button type ="button" class="ui button" value="">혼합형</button>
                  {%else%}
                  {%endif%}
              </div>
            </div>
            {{Answer_Dis}}
            {% for Answer_Dis in Answer_Dis %}
              {{Answer_Dis.Answer}}
            {%endfor%}

            <div id="h_innersectiondivider" class="ui section divider"></div>

            <div class="ui grid">
            <div class="left floated center aligned four wide column" style="color:purple"><h4><b>추천</b></h4></div>
            {% if MyCourseBoard.Check == True %}
          <button type ="button" id="enable6" style="background-color:#FFEB3B; font-size:18px;" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
            {% else %}
           <button type ="button" id="enable6" style="background-color:#CCC; font-size:18px;" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
           {%endif%}

          <div class="floated center aligned five wide column" style="color:orange"><h4><b>만족도</b></h4></div>            
           <div class="center aligned two wide column"><span class="starvalue">{{MyCourseBoard.StarPoint}}</span></div>
           
          </div>



            <div id="qna_border_a" class="ui raised segment" style="margin-right: 2px;">
                  <p>{{MyCourseBoard.CourseComment|linebreaks}}</p>
              </div>
          </div>
          <br>
	  {%endfor%} 
		</div>
    

		{%for OtherBoard in OtherCourseBoard%}
          <div id="h_outersectiondivider" class="ui section divider"></div>
          <h4><b>{{OtherBoard.CreatedID.UserName}} / {{OtherBoard.CreatedID.User.username.1}}{{OtherBoard.CreatedID.User.username.2}} 학번/ {{OtherBoard.CreatedID.FirstMajor}}/{{OtherBoard.Course.Semester}}</b></h4>          
          <div id="recommending" class="ui column">          
            <div id="blankspace" class="ui column"></div>

            <div class="ui grid">
              <div id="firstcolumn" class="left floated center aligned four wide column">진도 속도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" data-toggle="tooltip" title="강의속도가 느림">느림</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sa{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Speedy}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sa{{forloop.counter}}1C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" data-toggle="tooltip" title="강의속도가 빠름">빠름</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="secondcolumn" class="left floated center aligned four wide column">교재 사용도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips"  data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sa{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Reliance}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sa{{forloop.counter}}2C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


            <div class="ui grid">
              <div id="thirdcolumn" class="left floated center aligned four wide column">난이도</div>
              <div class="left floated right aligned three wide column">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 낮음">쉬움</a>
              </div>
              <div class="left floated center aligned six wide column">
                <input type="text" id="sa{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-value="{{OtherBoard.Question}}" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sa{{forloop.counter}}3C"/>
              </div>
              <div class="three wide column">
                <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 높음">어려움</a>
              </div>
            </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>

            <div class="ui grid">
              <div id="fourthcolumn" class="left floated center aligned four wide column">시험 방식</div>
              <div class="right floated center aligned twelve wide column">
              {% if OtherBoard.What_Answer == 1%}
                  <button type ="button" class="ui button" value="">단답형</button>
              {% elif OtherBoard.What_Answer == 2%}
                  <button type ="button" class="ui button" value="">서술형</button>
              {% elif OtherBoard.What_Answer == 3%}
                  <button type ="button" class="ui button" value="">혼합형</button>
              {%endif%}
              </div>
            </div>

            <div id="h_innersectiondivider" class="ui section divider"></div>

            <div class="ui grid">
            <div class="left floated center aligned four wide column" style="color:purple"><h4><b>추천</b></h4></div>
            {% if OtherBoard.Check == True %}
          <button type ="button" id="enable6" style="background-color:#FFEB3B; font-size:18px;" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
            {% else %}
           <button type ="button" id="enable6" style="background-color:#CCC; font-size:18px;" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
           {%endif%}

            <div class="floated center aligned five wide column" style="color:orange"><h4><b>만족도</b></h4></div>            
           <div class="center aligned two wide column"><span class="starvalue">{{OtherBoard.StarPoint}}</span></div>
         
          </div>


            <div id="h_innersectiondivider" class="ui section divider"></div>


        
            <div id="qna_border_a" class="ui raised segment" style="margin-right: 2px;">
                  <p>{{OtherBoard.CourseComment|linebreaks}}</p>
              </div>
          </div>

        {%endfor%}
        
           
        
      </div>
      {% if OtherCount.0 != None%}
		<div class="ui section divider"></div>
      <center><div id = "CoursePagenation" class="ui borderless pagination menu">
              <a id ="CoursePagePrevious" name = "{{PageInformation.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {%for i in OtherCount%}
              <a id = "CoursePageNumber" name ="{{i}}" class="item" >{{i}}</a>
              {%endfor%}
              <a id = "CoursePageNext" name ="{{PageInformation.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>   
        {%endif%}
        </div>
        </div>
         
      {%endblock%}

  </body>
</html>