<!DOCTYPE html>
{% extends "html/base.html" %}

   
  {% load staticfiles %}
   {% block head %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static "css/LoginPage/login.css" %}" />
    <script type="text/javascript" src="{% static "js/LoginPage/login.js" %}"></script>

    <title>SEAL - Login</title>
   {% endblock%}
  </head>
  <body>
  {% block content%}

    <div class="container" style="padding:100px 0">
      <div class="col-sm-2"></div>

      <div class="col-sm-8" id="logincontainer">

        <div class="box" id="mycontent-left">
            <h class="title1 hidden-xs">SEAL</h>
            <p class="title2 visible-xs">SEAL</p>
               <p class="detail">Students' Excellent Achievements</p>
               <p class="detail"> in Learning</p>
               <br/><br/>
            <p class="detail2">한동대학교 학생들의 학업성취도 향상을 위한</p>
            <p class="detail2">강의평가 및 강의정보 열람 서비스 입니다.</p>
            <br/></br/>
            <p>Powered by CRA</p>
        </div>
         

        <div class="box" id="mycontent-right">

          <form id="loginForm" name="loginForm" method ="POST">{%csrf_token%}
          <input type="hidden" name="rtnURL" value="http://seal.handong.edu/">

            <div class="form-group" method="post">
              <label class="control-label" for="username">아이디(Hisnet)</label>
              <input type="text" id="UserID" name ="id" class="form-control" placeholder="아이디(Hisnet)">
              <label class="control-label" for="password" style="padding-top: 15px;">비밀번호</label>
              <input type="password" id="UserPassword" name ="pw" class="form-control" placeholder="비밀번호">
            </div>

              <p></p>
            <div class="form-group" method="post">            
              <div class="ui medium buttons">
                <input type="submit" id="login" value="Login" class="ui blue button">
                <div class="or"></div>
                <input type="button" id="register" value="Register" class="ui blue button">
              </div>
            </div>

          </form>

        </div>
      </div>

      <div class="col-sm-2"></div>      
    </div>

  {%endblock%}
  </body>
</html>
