
<!doctype html>
{% extends "html/base.html" %}
{% load staticfiles%}
<html lang='ko'>
  <head>
  {% block head%}
     <title>{%block title %} ▒ SEAL ▒{%endblock%} </title>
    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>
       <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static "js/mycourses.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/mycourses.css" %}">
{%endblock%}
  </head>

  <body>

    {% block content%}

    <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-8 col-sm-10 col-xs-10">

      <h2 class="ui header">
        <i class="glyphicon glyphicon-book"></i> My Courses
      </h2>

      <div class="ui small form">
        <div class="four fields">
          <div class="field">
            <label>학기 선택</label>
            <div class="ui selection dropdown">
              <div class="default text">---전체---</div>
              <i class="dropdown icon"></i>
              <input name="hidden-field" type="hidden">
              <div class="menu">
                <div class="item" data-value="전체">---전체---</div>
                <div class="item" data-value="2015-1">2015 / Winter</div>
                <div class="item" data-value="2014-4">2014 / 2</div>
                <div class="item" data-value="2014-3">2014 / Summer</div>
                <div class="item" data-value="2014-2">2014 / 1</div>
                <div class="item" data-value="2014-1">2014 / Winter</div>
                <div class="item" data-value="2013-4">2013 / 2</div>
                <div class="item" data-value="2013-3">2013 / Summer</div>
                <div class="item" data-value="2013-2">2013 / 1</div>
                <div class="item" data-value="2013-1">2013 / Winter</div>
                <div class="item" data-value="2012-4">2012 / 2</div>
                <div class="item" data-value="2012-3">2012 / Summer</div>
                <div class="item" data-value="2012-2">2012 / 1</div>
                <div class="item" data-value="2012-1">2012 / Winter</div>
                <div class="item" data-value="2011-4">2011 / 2</div>
                <div class="item" data-value="2011-3">2011 / Summer</div>
                <div class="item" data-value="2011-2">2011 / 1</div>
                <div class="item" data-value="2011-1">2011 / Winter</div>
              </div>
            </div> 
          </div>
          <div class="field">
            <label>학부 선택</label>
            <div class="ui selection dropdown">
              <div class="default text">---전체---</div>
              <i class="dropdown icon"></i>
              <input name="hidden-field" type="hidden">
              <div class="menu">
                <div class="item" data-value="전체">---전체---</div>
                <div class="item" data-value="0001">글로벌리더십학부</div>
                <div class="item" data-value="0009">창의융합교육원</div>
                <div class="item" data-value="0010">Global Edison Academy</div>
                <div class="item" data-value="0011">국제어문학부</div>
                <div class="item" data-value="0012">언론정보문화학부</div>
                <div class="item" data-value="0021">경영경제학부</div>
                <div class="item" data-value="0022">법학부</div>
                <div class="item" data-value="0024">상담심리사회복지학부</div>
                <div class="item" data-value="0033">생명과학부</div>
                <div class="item" data-value="0071">전산전자공학부</div>
                <div class="item" data-value="0074">산업정보디자인학부</div>
                <div class="item" data-value="0077">기계제어공학부</div>
                <div class="item" data-value="0078">공간환경시스템공학부</div>
                <div class="item" data-value="0090">산업교육학부</div>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div class="ui small tabular filter menu">
        <a class="active item" data-tab="unread">내가 추천한 강의</a>
        <a class="item" data-tab="saved">듣고 싶은 강의</a>
      </div>

       <div  class="ui very relaxed column grid">
        <div class="column">
          <div id ="RecommendPageMain" class="ui divided very relaxed selection inbox list active tab" data-tab="unread">
                {%for PageBoard in RecommendPage%}
            <div class="ui raised segment">
              <div class="left floated ui compact segment two wide column">
                <center><a href="/mysite2/Recommend/{{PageBoard.Course.id}}"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum1">{{PageBoard.Total_Count}}</span> LIKES</center>
              </div>

              <div id="firstcourse" class="five wide column">
                [<span id="ccode1">{{PageBoard.Course.Code}}</span>]
                <p><a href="/mysite2/Course/{{PageBoard.Course.id}}"><span class="cname" id="cname1">{{PageBoard.Course.CourseName}}</span></a></p>

                <p><a><span id="cprof1">{{PageBoard.Course.Professor}} 교수님</span></a></p>
              </div>

              <div id="recommendtop" class="seven wide column">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="신속하게 중요한 점들만 짚어 가신다">신속함</a>
                  <input type="text" id="sl{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}1C" data-slider-value = "{{PageBoard.Total_Speedy}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="느긋하고 자세하게 가르쳐 주신다">느긋함</a><br />
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="요약해서 중요한 점들만 알기 쉽게 가르쳐 주신다">요약됨</a>
                  <input type="text" id="sl{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}2C" data-slider-value ="{{PageBoard.Total_Question}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="자세하게 이해할 때까지 가르쳐 주신다">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="주로 교재에 있는 내용을 바탕으로 가르쳐 주신다">교재 위주</a>
                  <input type="text" id="sl{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}3C" data-slider-value = "{{PageBoard.Total_Reliance}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="강의에서 사용하는 PPT나 강의 말씀이 중요하다">강의 위주</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">교내 도움</a>
                  <input type="text" id="sl{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}4C" data-slider-value = "{{PageBoard.Total_Helper}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">교외 도움</a>
              </div>
            </div>
        {% endfor%}
         <center><div id ="RecommendPageNation" class="ui borderless pagination menu">
              <a id ="RecommendPrevious" name = "{{PageInformation.0.0}}" class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {% for i in TotalCount.0%}
              {% if PageInformation.0.1 == i %}
              <a id = "RecommendPage" name = "{{i}}" class="active item">{{i}}</a>
              {%else%}
              <a id = "RecommendPage" name = "{{i}}" class="item">{{i}}</a>
              {%endif%}
              {%endfor%}
              <a id = "RecommendNext" name = "{{PageInformation.0.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>

          </div>





          <div id = "LikePageMain" class="ui divided very relaxed inbox selection list tab" data-tab="saved">
          {% for PageBoard2 in LikePage%}
            <div class="ui raised segment">
              <div class="left floated ui compact segment two wide column">
                <center><a href="/mysite2/Recommend/{{PageBoard2.Course.id}}"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum11">{{PageBoard2.Total_Count}}</span> LIKES</center>
              </div>
                    
              <div id="firstcourse" class="five wide column">    
                [<span id="ccode11">{{PageBoard2.Course.Code}}</span>]
                <p><a href="/mysite2/Course/{{PageBoard2.Course.id}}"><span class="cname" id="cname11">{{PageBoard2.Course.CourseName}}</span></a></p>

                <p><a><span id="cprof11">{{PageBoard2.Course.Professor}} 교수님</span></a></p>
              </div>

              <div id="recommendtop" class="seven wide column">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="신속하게 중요한 점들만 짚어 가신다">신속함</a>
                  <input type="text" id="sl1{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}1C" data-slider-value ="{{PageBoard2.Total_Speedy}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="느긋하고 자세하게 가르쳐 주신다">느긋함</a><br />
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="요약해서 중요한 점들만 알기 쉽게 가르쳐 주신다">요약됨</a>
                  <input type="text" id="sl1{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}2C" data-slider-value ="{{PageBoard2.Total_Question}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="자세하게 이해할 때까지 가르쳐 주신다">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="주로 교재에 있는 내용을 바탕으로 가르쳐 주신다">교재 위주</a>
                  <input type="text" id="sl1{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}3C" data-slider-value ="{{PageBoard2.Total_Reliance}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="강의에서 사용하는 PPT나 강의 말씀이 중요하다">강의 위주</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">교내 도움</a>
                  <input type="text" id="sl1{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}4C" data-slider-value ="{{PageBoard2.Total_Helper}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">교외 도움</a>
              </div>
            </div>
		        {%endfor%}


           <center><div id ="LikePageNation" class="ui borderless pagination menu">
              <a id = "LikePrevious" name ="{{PageInformation.1.0}}" class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {% for i in TotalCount.1%}
              {%if PageInformation.0.1 == i%}
              <a id ="LikePage" name="{{i}}" class="active item">{{i}}</a>
              {%else%}
              <a id ="LikePage" name="{{i}}" class="item">{{i}}</a>
              
              {%endif%}
              {%endfor%}
              <a id = "LikeNext" name = "{{PageInformation.1.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
          </div>

          
            
        <div class="ui divider"></div>

                              
        </div>
      </div>

    {%endblock%}

  </body>
</html>