
  <head>
    {% load staticfiles%}
    {% block head%}
	 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>▒ SEAL ▒</title>
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>
    
    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{%static "css/qna.css"%}">
    <script type="text/javascript" src="{% static "js/qna.js"%}"></script>
    
    
   {%endblock%}
  <body>
    {%block content%}
      <div class="containerss"></div>

      <div class="col-md-1 col-sm-0 col-xs-0"></div>

      <div class="col-md-8 col-sm-10 col-xs-10">

        <h2 class="ui header"><i class="glyphicon glyphicon-info-sign"></i> 공지사항 </h2>

        
        <div id="h_sectiondivider" class="ui section divider"></div>
        
        <div class="ui column">
          <div id="qna_board">
              
              <table class="ui table">
                 <thead>
                  <tr>
                      <th class="two wide"><center>번호</center></th>
                      <th class="eight wide"><center>제목</center></th>
                      <th class="two wide"><center>작성자</center></th>
                      <th class="two wide"><center>날짜</center></th>
                      <th class="two wide"><center>조회수</center></th>
                  </tr>
                </thead>
                
                
                
                <tbody class="qna_sub">
                   <tr id="qna1">
                    <td><center><span id="qna_num7">7</span></center></td>
                    <td class="qna_title"><a href="notice-contents.html">어서오세요! SEAL입니다!</a><span> <img src="../fonts/latest.gif"></span></td>
                    <td><center>관리자</center></td>
                    <td><center>2015.01.22</center></td>
                    <td><center><span id="qna_click1"></span></center></td>
                  </tr>
                  <tr id="qna2">
                    <td><center><span id="qna_num6">6</span></center></td>
                    <td class="qna_title"><a href="#">SEAL을 어떻게 사용해야할지 잘 모르시겠나요?</a><span> <img src="../fonts/latest.gif"></span></td>
                    <td><center>관리자</center></td>
                    <td><center>2015.01.22</center></td>
                    <td><center><span id="qna_click2"></span></center></td>
                  </tr>
                  <tr id="qna3">
                    <td><center><span id="qna_num5">5</span></center></td>
                    <td class="qna_title"><a href="#">읽어보세요! 한동대 학생들을 위해 탄생한 SEAL의 제공 목적은?</a></td>
                    <td><center>관리자</center></td>
                    <td><center>2015.01.20</center></td>
                    <td><center><span id="qna_click3"></span></center></td>
                  </tr>
                  <tr id="qna4">
                    <td><center><span id="qna_num4">4</span></center></td>
                    <td class="qna_title"><a href="#">당신은 TA이신가요?</a></td>
                    <td><center>관리자</center></td>
                    <td><center>2015.01.18</center></td>
                    <td><center><span id="qna_click4"></span></center></td>
                  </tr>
                  <tr id="qna5">
                    <td><center><span id="qna_num3">3</span></center></td>
                    <td class="qna_title"><a href="#">새내기인가요?</a></td>
                    <td><center>관리자</center></td>
                    <td><center>2015.01.18</center></td>
                    <td><center><span id="qna_click5"></span></center></td>
                  </tr>
                  <tr id="qna6">
                    <td><center><span id="qna_num2">2</span></center></td>
                    <td class="qna_title"><a href="#">왜 이름이 SEAL일까요?</a></td>
                    <td><center>관리자</center></td>
                    <td><center>2015.01.17</center></td>
                    <td><center><span id="qna_click6"></span></center></td>
                  </tr>
                  <tr id="qna7">
                    <td><center><span id="qna_num1">1</span></center></td>
                    <td class="qna_title"><a href="#">복학생이라면 읽어보세요!</a></td>
                    <td><center>관리자</center></td>
                    <td><center>2015.01.15</center></td>
                    <td><center><span id="qna_click7"></span></center></td>
                  </tr>
                </tbody>
              </table>
      
     <script>
         
        var qna_num1 = 1,
            qna_num2 = 2,
            qna_num3 = 3,
            qna_num4 = 4,
            qna_num5 = 5,
            qna_num6 = 6,
            qna_num7 = 7;

        var eqna_num1 = document.getElementById('qna_num1'),
            eqna_num2 = document.getElementById('qna_num2'),
            eqna_num3 = document.getElementById('qna_num3'),
            eqna_num4 = document.getElementById('qna_num4'),
            eqna_num5 = document.getElementById('qna_num5'),
            eqna_num6 = document.getElementById('qna_num6'),
            eqna_num7 = document.getElementById('qna_num7');

        eqna_num1.textContent = qna_num1;
        eqna_num2.textContent = qna_num2;
        eqna_num3.textContent = qna_num3;
        eqna_num4.textContent = qna_num4;
        eqna_num5.textContent = qna_num5;
        eqna_num6.textContent = qna_num6;
        eqna_num7.textContent = qna_num7; 

      </script>
                                                 
                                          
              <center><div class="ui borderless pagination menu">
              <a class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="item">5</a>
              <a class="item">6</a>
              <a class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
              
          </div>
        </div>

     {% endblock%}
  </body>
</html>