{% extends "base.html"%}

  {% block head%}
  {% load staticfiles%}  
    <title>{%block title%}▒ SEAL ▒{%endblock%}</title>

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static "css/qna.css" %}">
    <script type="text/javascript" src="{% static "js/qna.js" %}"></script>
    
  {% endblock%}

  {% block content%}

      <div class="containerss"></div>

      <div class="col-md-1 col-sm-0 col-xs-0"></div>

      <div class="col-md-8 col-sm-10 col-xs-10">

        <h2 class="ui header"><i class="glyphicon glyphicon-question-sign"></i> 질문 게시판 (Q&A)<a href="qna.html"> <div style="margin-top:20px" class="ui right floated tiny teal button">
          <i style="margin-left:-6px" class="glyphicon glyphicon-list"></i>　목록으로</div> </a></h2>

        <div id="h_sectiondivider" class="ui section divider"></div>

            <div id="qna_border_q" class="ui raised segment">
              <div class="ui large blue ribbon label">{{Current.TextName}}</div>
              <p></p>
              <div class="ui tiny black ribbon label">{{Current.TextWriter.UserName}}　{{Current.created|date:"Y.m.d"}} {{Current.created|time:"H:i"}} </div>
              <p class="qna_content">{{Current.Text}}</p>
            </div>  
            
            <div id="qna_border_a" class="ui raised segment">
              <div class="ui large red right ribbon label">추천은 설명을 읽어보시고...</div>
              <p></p>
              <div class="ui tiny black right ribbon label">관리자　2015.01.22 23:16</div>
              <p class="reply">추천은 설명을 잘 읽어보시고 편안한 마음으로 슬라이더 바만 움직여주시면 됩니다 :)</p>
            </div>       
                                          
              <center>
              <div class="ui buttons">
              <a class="ui red inverted button">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
                <div class="or"></div>
              <a class="ui blue inverted button">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
     {% endblock%}       
</html>
