{% extends "base.html"%}

  {% block head%}
  {% load staticfiles%}  
    <title>{%block title%}▒ SEAL ▒{%endblock%}</title>

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{% static "css/qna.css" %}">
    <script type="text/javascript" src="{% static "js/qna.js" %}"></script>
    
  {% endblock%}

  {% block content%}

      <div class="containerss"></div>

      <div class="col-md-1 col-sm-0 col-xs-0"></div>

      <div class="col-md-8 col-sm-10 col-xs-10">

        <h2 class="ui header"><i class="glyphicon glyphicon-question-sign"></i> 질문 게시판 (Q&A)
        {% if user.profile.UserName == "관리자"%}
        <a href="/mysite2/QnA/Reply/{{Current.id}}"> <div style="margin-top:20px" class="ui right floated tiny blue button">
          
          <i style="margin-left:-6px" class="glyphicon glyphicon-edit"></i>　Write</div> </a>
          {% endif %}
        <a href="/mysite2/QnA"> <div style="margin-top:20px" class="ui right floated tiny teal button">
          <i style="margin-left:-6px" class="glyphicon glyphicon-list"></i>　목록으로</div> </a></h2>

        <div id="h_sectiondivider" class="ui section divider"></div>

            <div id="qna_border_q" class="ui raised segment">
              <div class="ui large blue ribbon label">{{Current.TextName}}</div>
              <p></p>
              <div class="ui tiny black ribbon label">{{Current.TextWriter.UserName}}　{{Current.created|date:"Y.m.d"}} {{Current.created|time:"H:i"}} </div>
              <p class="qna_content">{{Current.Text}}</p>
            </div>  
            {%for QnA in QnA_Reply%}
            <div id="qna_border_a" class="ui raised segment">
              <div class="ui large red right ribbon label">{{QnA.TextName}}</div>
              <p></p>
              <div class="ui tiny black right ribbon label">{{QnA.TextWriter.UserName}} {{QnA.created|date:"Y.m.d"}} {{QnA.created|time:"H:i"}}  </div>
              <p class="reply">{{QnA.Text}}</p>
            </div>       
            {%endfor%}
                                          
              <center>
              <div class="ui buttons">
              <a class="ui red inverted button" href = "/mysite2/QnA/{{Previous}}">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
                <div class="or"></div>
              <a class="ui blue inverted button" href = "/mysite2/QnA/{{Next}}">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
     {% endblock%}       
</html>
