<!doctype html>
{% extends "base.html"%}
<html lang='ko'>
  <head>
{% load staticfiles%}
	{% block head%}

    <title>{%block title%}▒ SEAL ▒{%endblock%}</title>
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

    <link rel="stylesheet" type="text/css" href="{%static "css/qna.css"%}">
    <script type="text/javascript" src="{%static "js/qna.js"%}"></script>
    
    {% endblock%}
  </head>
  
  <body>
	{%block content%}


      <div class="containerss"></div>

      <div class="col-md-1 col-sm-0 col-xs-0"></div>

      <div class="col-md-8 col-sm-10 col-xs-10">

        <h2 class="ui header"><i class="glyphicon glyphicon-question-sign"></i> 질문 게시판 (Q&A) <a href="/mysite2/QnA/Write"> <div style="margin-top:20px" class="ui right floated tiny blue button">
          <i style="margin-left:-6px" class="glyphicon glyphicon-edit"></i>　Write</div> </a></h2>
        
        <div id="h_sectiondivider" class="ui section divider"></div>
        
        <div class="ui column">
          <div id="qna_board">
              
              <table class="ui table">
                 <thead>
                  <tr>
                      <th class="two wide"><center>번호</center></th>
                      <th class="eight wide"><center>제목</center></th>
                      <th class="two wide"><center>작성자</center></th>
                      <th class="two wide"><center>날짜</center></th>
                      <th class="two wide"><center>조회수</center></th>
                  </tr>
                </thead>
                
                
                
                <tbody class="qna_sub">
                  
		  {% for Board in PageBoard%} 
		  <tr id="qna{Board.id}">
                    <td><center><span id="qna_num{Board.id}">{{Board.id}}</span></center></td>
                   
                    <td class="qna_title"><a href="/mysite2/Notice/{{Board.id}}">{{Board.TextName}}</a><span>  {% if Board.created == Today%}<img src="{% static "fonts/latest.gif"%}"> {% endif%}</span></td>
                   
                    <td><center>{{Board.TextWriter}}</center></td>
                    <td><center>{{Board.created|date:"Y-m-d"}}</center></td>
                    <td><center><span id="qna_click1"></span></center></td>
                  </tr>
                  <tr class="ans" id="ans{{Board.id}}">
                      <td></td>
                      <td><img src="{% static "fonts/reply.gif"%}"><a href="/mysite2/Notice/{{Board.id}}"> 추천은 설명을 읽어보시고...</a></td>
                      <td><center>관리자</center></td>
                      <td><center>{{Board.created|date:"Y-m-d"}}</center></td>
                      <td></td>
		  </tr>
		 {%endfor%}
		</tbody>
              </table>
      
                                                 
                                          
              <center><div class="ui borderless pagination menu">
              <a class="item" href = "/mysite2/QnA/page/{{forloop.counter}}">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
	      
	      {% for i in  TotalCount %}
		
              <a href = "/mysite2/QnA/page/{{forloop.counter}}" class="item" >{{forloop.counter}}</a>
              {% endfor%}
         
              <a class="item">  Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
              
          </div>
        </div>
	{%endblock%}
</html>
