<!doctype html>
{% extends "html/base.html" %}

   
  {%block head%}
   {%load staticfiles%}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>▒ SEAL ▒</title>
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static "js/recommend.js" %}">
    </script>
    <link rel="stylesheet" type="text/css" href="{% static "css/recommend.css" %}">

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>

     {%endblock%}

     {%block content%}

      <div class="containerss"></div>

      <div class="col-md-1 col-sm-0 col-xs-0"></div>

      <div class="col-md-8 col-sm-10 col-xs-10">



        <h2 class="ui header"><i class="glyphicon glyphicon-heart"></i> 강의 추천하기</h2>

        <div id="coursenameheader" class="ui column">
                
          <p id="ccode_p">[<span id="ccode">{{CourseBoard.Code}}</span>]<br />
          <span id="cname">{{CourseBoard.CourseName}}</span><br />
          <span id="cprof">{{CourseBoard.professor}}</span></p>

        </div>

        <div id="h_sectiondivider" class="ui section divider"></div>

        <div id="cautions">
          <p>* SEAL은 한동대학생이 자신이 들은 수업 중 다른 학우들에게 추천하고 싶은 수업을 추천하는 사이트 입니다.</p>
          <p>* 추천기준 위에 마우스 커서를 올리면 구체적으로 어떤 기준인지 설명을 보실 수 있습니다.</p>
          <p>* 가운데에서 양쪽으로 각각 4단계씩 있습니다. 자신이 생각하기에 이 수업은 어느방향으로 어느정도인지 표시해주십시오.</p>
          <p>* 초록색 체크 버튼은 추천 기준을 활성화 시킬 것인지 안 할 것인지 정하는 것입니다.</p>
          <p>* 추천 기준을 다 정했다면 오른쪽 밑의 추천하기버튼을 눌러주시면 됩니다.</p>
        </div>

        <div id="h_sectiondivider" class="ui section divider"></div>

        <div id="recommending" class="ui column">
		
          <div id="blankspace" class="ui column"></div>
	   <form action = "/Recommend/Recommend_Write" method ="POST">{% csrf_token %}
          <div class="ui grid">
            <div id="firstcolumn" class="left floated center aligned three wide column"><b>진도 속도</b></div>
            <div class="left floated center aligned two wide column">
               <a id="tooltips" data-toggle="tooltip" title="활성/비활성"><button type ="button" id="enable1" class="circular ui icon button"><i class="glyphicon glyphicon-ok"></i></button></a>
            </div>
            <div class="left floated right aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="강의속도가 느림">느림</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl1" name ="sl1" data-slider-min="1" data-slider-max="9" data-slider-value="5" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl1C" data-slider-disabled="false"/>	
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="강의속도가 빠름">빠름</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="secondcolumn" class="left floated center aligned three wide column"><b>교재 사용도</b></div>
            <div class="left floated center aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="활성/비활성"><button type ="button" id="enable2" class="circular ui icon button"><i class="glyphicon glyphicon-ok"></i></button></a>
            </div>
            <div class="left floated right aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl2" name ="sl2" data-slider-min="1" data-slider-max="9" data-slider-value="5" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl2C" data-slider-disabled="false" />
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="thirdcolumn" class="left floated center aligned three wide column"><b>과 내/외 도움</b></div>
            <div class="left floated center aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="활성/비활성"><button type ="button" id="enable3" class="circular ui icon button"><i class="glyphicon glyphicon-ok"></i></button></a>
            </div>
            <div class="left floated right aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">과내 도움</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl3" name ="sl3" data-slider-min="1" data-slider-max="9" data-slider-value="5" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl3C" data-slider-disabled="false" />
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">과외 도움</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="fourthcolumn" class="left floated center aligned three wide column"><b>강의 방식</b></div>
            <div class="left floated center aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="활성/비활성"><button type ="button" id="enable4" class="circular ui icon button"><i class="glyphicon glyphicon-ok"></i></button></a>
            </div>
            <div class="left floated right aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="간단히 요약해서 강의하심">요약적</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl4" name="sl4" data-slider-min="1" data-slider-max="9" data-slider-value="5" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl4C" data-slider-disabled="false" />
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="학생들이 이해할 수 있도록 자세하게 강의하심">자세함</a>
            </div>
          </div>


          <div id="h_innersectiondivider" class="ui section divider"></div>


          <div class="ui grid">
            <div id="fifthcolumn" class="left floated center aligned three wide column"><b>시험 방식</b></div>
            <div class="left floated center aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="활성/비활성"><button type ="button" id="enable5" class="circular ui icon button"><i class="glyphicon glyphicon-ok"></i></button></a>
            </div>
            <div class="left floated right aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="주관식/서술형 문제가 주로 출제된다">주관식</a>
            </div>
            <div class="left floated center aligned six wide column">
              <input type="text" id="sl5" name="sl5" data-slider-min="1" data-slider-max="9" data-slider-value="5" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-id="sl5C" data-slider-disabled="false" />
            </div>
            <div class="three wide column">
              <a id="tooltips" data-toggle="tooltip" title="객관식 문제가 주로 출제된다">객관식</a>
            </div>
          </div>
           
          <div id="h_innersectiondivider" class="ui section divider"></div>

          <div class="ui grid">
            <div id="sixthcolumn" class="left floated center aligned three wide column"><b>추천</b></div>            
            <div class="left floated center aligned two wide column">
              <a id="tooltips" data-toggle="tooltip" title="활성/비활성"><button type ="button" id="enable5" class="circular ui icon button"><i class="glyphicon glyphicon-ok"></i></button></a>
            </div>
          </div>

          <br>

            <div id="notice_border" class="ui raised segment">

              <div class="ui form">
                <div class="field">
                <label><h4><i class="glyphicon glyphicon-pencil"></i> <b>Comment<b></h4></label>
                <textarea id = "CourseComment" name="CourseComment" placeholder="교수님을 비하하거나 자극적이고 부적절한 언어를 사용하는 경우, 경고 없이 삭제됩니다." maxlength="500"></textarea>
                </div>
              </div>

            </div>
                                                      

          <div id="recommendbtn" class="ui grid">
            <div class="thirteen wide column"></div>
            <div class="three wide column">
              <button id="recommendbtn_d" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-heart"></i>Submit</button>
            </div>
          </div>

        </div>
		</form>
        

        <div id="h_sectiondivider" class="ui section divider"></div>


        <div id="h_sectiondivider" class="ui section divider"></div>     

    

   {%endblock%}
</html>
