{%load staticfiles%}
{%for PageBoard in RecommendPage%}
{% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">

          {% endif %}
          <div class="column">
            <div class="ui raised segment">
              <div class="sixteen wide column">
                <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">

                  <center><button id="likebutton" name="{{PageBoard.Course.id}}"><img src="{% static "css/seal.png" %}" height="45px" width="45px"></a></center>
                  <center><span id="likenum{{forloop.counter}}" name="likenum">{{PageBoard.Total_Count}}</span> SEALS</center>
                </div>

              <div class="sixteen wide column">

                [<span id="ccode{{forloop.counter}}" name="ccode" value="a">{{PageBoard.Course.Code}}</span>]
                <p><a style="cursor:pointer" href="/Course/{{PageBoard.Course.id}}"><span class="cname" id="cname" value="">{{PageBoard.Course.CourseName}}</span></a></p>
                <p><span id="cprof1" name="cprof">{{PageBoard.Course.Professor}} 교수님</span></p>
                <input type = "hidden" id="period" value = "{{PageBoard.Course.Period}}">
                <input type = "hidden" id="semester" value = "{{PageBoard.Course.Semester}}">
                <input type = "hidden" id="professor" value = "{{PageBoard.Course.Professor}}">
              </div>
            </div>

             <div class="center aligned sixteen wide column">
              <br>
              <div class="center aligned sixteen wide column" style="margin-left:125px"><span class="starvalue">{{PageBoard.Total_StarPoint}}</span></div>  
                 <br>
                  <a id="tooltips" data-toggle="tooltip" title="강의 속도가 느림">느림</a>
                  <input type="text" id="sl{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PageBoard.Total_Speedy}}" data-slider-id="sl{{forloop.counter}}1C"/>
                  <a id="tooltips"  data-toggle="tooltip" title="강의속도가 빠름">빠름</a><br />
                  <a id="tooltips"  data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
                  <input type="text" id="sl{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PageBoard.Total_Reliance}}" data-slider-id="sl{{forloop.counter}}2C"/>
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="간단히 요약해서 강의하심">요약적</a>
                  <input type="text" id="sl{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PageBoard.Total_Question}}" data-slider-id="sl{{forloop.counter}}3C"/>
                  <a id="tooltips" data-toggle="tooltip" title="학생들이 이해할 수 있도록 자세하게 강의하심">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="주관식/서술형 문제가 주로 출제됨">서술형</a>
                  <input type="text" id="sl{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PageBoard.Total_Exam}}" data-slider-id="sl{{forloop.counter}}4C"/>
                  <a id="tooltips" data-toggle="tooltip" title="객관식 문제가 주로 출제됨">단답형</a>
               </div>
            </div>
          </div>
          {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
        <div class="ui divider"></div>
          {% endif %}
        {% endfor%}

        <center><div id ="RecommendPageNation" class="ui borderless pagination menu">
              <a id ="RecommendPrevious" name = "{{PageInformation.0.0}}" class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {% for i in TotalCount.0%}
              {%if Page == i%}

              <a id ="RecommendPage" name="{{i}}" class="active item" >{{i}}</a>
              {%else%}
              <a id ="RecommendPage" name="{{i}}" class="item" >{{i}}</a>
              {%endif%}
              {%endfor%}
              <a id = "RecommendNext" name = "{{PageInformation.0.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
<script type="text/javascript" src="{% static "js/mycourses.js" %}"></script>
 <script type="text/javascript" src="{% static "js/starjs.js" %}"></script>