{% for lec in Subject %}
  {{cur_page}} {{SearchName}}
      <!-- 시작하는 행에서 div를 열어준다. -->
      {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui two column grid">
      {% endif %}
          <div class="column">
            <div class="ui raised segment">
              <div class="left floated ui compact segment">
                <center><a href="#"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">5</span> LIKES</center>
              </div>
                        
              [<span id="ccode{{forloop.counter}}" name="ccode">{{ lec.Code }}</span>]
              <p><a href="#"><span class="cname" id="cname{{forloop.counter}}" name="cname">{{ lec.CourseName }}</span></a></p>
              <p><a href="#"><span id="cprof{{forloop.counter}}">{{ lec.Professor }}</span></a></p>
              <span>
                <h3>
                  <span id="cperiod{{forloop.counter}}" name="cperiod" class="cperiod">{{ lec.Period }}</span>
                  <a href="#" class="ui right floated tiny blue button">선택</a>
                </h3>
              </span>
            </div>
          </div>
          <!-- 짝수번째이거나 마지막이면 닫아준다. 0부터 시작하는 것 주의 실제로는 반대이다. -->
      {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
        
     
      {% endif %}
      {% endfor %}
       <div class="ui divider"></div>

        <center><div class="ui borderless pagination menu">
              <a id="Previous" name="pag" class="item" value = "{{PageInformation.0}}">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {% for i in TotalCount%}
              <a id="Page{{i}}" name="pag" class="item" value ={{i}}>{{i}}</a>
              {% endfor %}
              <a id="Next" name ="pag" class="item" value = "{{PageInformation.2}}">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
            <div style="padding-bottom:30px"></div>