
{%load staticfiles%}
         <div class="fixed-table-container">
             <div class="fixed-table-header" style="height: 40px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); margin-right:0px;">
                
             </div>
            <div class="fixed-table-body">
                
                <table id="table" class="table table-hover" style="margin-top: -40px;"></div>
                     <thead>
                        <tr>
                        <th class="col-xs-2">
                            Period
                        </th>
                        <th class="col-xs-1">
                            <center>Monday</center>
                        </th>
                        <th class="col-xs-1">
                            <center>Tuesday</center>
                        </th>
                        <th class="col-xs-1">
                            <center>Wednesday</center>
                        </th>
                        <th class="col-xs-1">
                            <center>Thursday</center>
                        </th>
                        <th class="col-xs-1">
                            <center>Friday</center>
                        </th>
                        <th class="col-xs-1">
                            <center>Saturday</center>
                        </th>
                    </tr>
                </thead>
                    <tbody>

                        {% for period in my_lec_table %}
                         <tr data-index="{{forloop.counter}}">
                             {% if forloop.counter == 1 %}
                             <th style><p>&nbsp;</p>1st (8:30-9:45)</th>
                             {% elif forloop.counter == 2 %}
                             <th style><p>&nbsp;</p>2nd (10:00-11:15)</th>
                             {% elif forloop.counter == 3 %}
                             <th style><p>&nbsp;</p>3rd (11:30-12:45)</th>
                             {% elif forloop.counter == 4 %}
                             <th style><p>&nbsp;</p>4th (1:00-2:15)</th>
                             {% elif forloop.counter == 5 %}
                             <th style><p>&nbsp;</p>5th (2:30-3:45)</th>
                             {% elif forloop.counter == 6 %}
                             <th style><p>&nbsp;</p>6th (4:00-5:15)</th>
                             {% elif forloop.counter == 7 %}
                             <th style><p>&nbsp;</p>7th (5:30-6:45)</th>
                             {% elif forloop.counter == 8 %}
                             <th style><p>&nbsp;</p>8th (7:00-8:15)</th>
                             {% elif forloop.counter == 9 %}
                             <th style><p>&nbsp;</p>9th (8:30-9:45)</th>
                             {% elif forloop.counter == 10 %}
                             <th style><p>&nbsp;</p>10th (10:00-11:15)</th>
                             {% elif forloop.counter == 11 %}
                             <th style><p>&nbsp;</p>11th (11:30-12:45)</th>
                             {% endif %}

                             {% for lec in period %}
                             {% if lec %}
                             <td id="day{{forloop.parentloop}}-{{forloop.counter}}">
                              {{ lec.Code }}.<br/>{{ lec.CourseName }}({{ lec.Class }}).<br/>{{ lec.Professor }}<br/>
                              <button type="button" id="del_my_lec" class="close" aria-label="Close">&times;</button>
                             </td>
                             {% else %}
                             <td id="day{{forloop.parentloop}}-{{forloop.counter}}"></td>
                             {% endif %}
                             {% endfor %}
                         </tr>
                         {% endfor %}
                     </tbody>
                 </table>
             </div>
         </div>
  <script type="text/javascript" src="{% static "js/schedule.js"%}"></script>