<!doctype html>
{% extends "base.html"%}
         
	{% block head%}	
         {%load staticfiles%}
			
		
		<link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>
                         
		<style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>


		
		
	{% endblock%}

  <body>
 {% block content%}
		
 <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-8 col-sm-10 col-xs-10">

      <h2 class="ui header"><i class="glyphicon glyphicon-time"></i> My Schedule</h2>

      <div class="ui small form">
        <div class="four fields">
          <div class="field">
            <label>학부 선택</label>
            <div class="ui selection dropdown">
              <div class="default text">---전체---</div>
              <i class="dropdown icon"></i>
              <input name="hidden-field" type="hidden">
              <div class="menu">
                <div class="item" data-value="전체">---전체---</div>
                <div class="item" data-value="0001">글로벌리더십학부</div>
                <div class="item" data-value="0009">창의융합교육원</div>
                <div class="item" data-value="0010">Global Edison Academy</div>
                <div class="item" data-value="0011">국제어문학부</div>
                <div class="item" data-value="0012">언론정보문화학부</div>
                <div class="item" data-value="0021">경영경제학부</div>
                <div class="item" data-value="0022">법학부</div>
                <div class="item" data-value="0024">상담심리사회복지학부</div>
                <div class="item" data-value="0033">생명과학부</div>
                <div class="item" data-value="0071">전산전자공학부</div>
                <div class="item" data-value="0074">산업정보디자인학부</div>
                <div class="item" data-value="0077">기계제어공학부</div>
                <div class="item" data-value="0078">공간환경시스템공학부</div>
                <div class="item" data-value="0090">산업교육학부</div>
              </div>
            </div> 
          </div>
          <div class="field">
            <label>교양 실무</label>
            <div class="ui selection dropdown">
              <div class="default text">---전체---</div>
              <i class="dropdown icon"></i>
              <input name="hidden-field" type="hidden">
              <div class="menu">
                <div class="item" data-value="전체">---전체---</div>
                <div class="item" data-value="W04">신앙1</div>
                <div class="item" data-value="W05">인성1</div>
                <div class="item" data-value="W06">인성2</div>
                <div class="item" data-value="W07">신앙2</div>
                <div class="item" data-value="W08">세계관1</div>
                <div class="item" data-value="W09">세계관2</div>
                <div class="item" data-value="W10">인문</div>
                <div class="item" data-value="W11">역사</div>
                <div class="item" data-value="W12">사회</div>
                <div class="item" data-value="W13">수학</div>
                <div class="item" data-value="W14">자연</div>
                <div class="item" data-value="W15">신앙3</div>
                <div class="item" data-value="W16">리더십</div>
                <div class="item" data-value="W17">예술</div>
                <div class="item" data-value="W18">전공기초</div>
                <div class="item" data-value="W19">외국어</div>
                <div class="item" data-value="W22">전공탐색</div>
                <div class="item" data-value="W24">제2외국어</div>
                <div class="item" data-value="W25">소통및융복합</div>
                <div class="item" data-value="W26">ICT융합기초</div>
                <div class="item" data-value="W27">인문학</div>
                <div class="item" data-value="W28">사회과학</div>
                <div class="item" data-value="W29">자연과학</div>
                <div class="item" data-value="W30">리더십및문제해결</div>
                <div class="item" data-value="W31">스포츠</div>
              </div>
            </div> 
          </div>
          <div class="field">
            <label>검색 입력</label>
            <div class="ui small icon input">
              <input type="text" placeholder="Search...">
              <i class="circular icon"><a id="sch-search" href="#"><i  class="glyphicon glyphicon-search"></i></a></i>
            </div>
          </div>
        </div>
      </div>

      <div id="sch-result" class="wrapper">
        <div class="ui two column grid">
          <div class="column">
            <div class="ui raised segment">
              <div class="left floated ui compact segment">
                <center><a href="#"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum1"></span> LIKES</center>
              </div>
                        
              [<span id="ccode1"></span>]
              <p><a href="#"><span class="cname" id="cname1"></span></a></p>
              <p><a href="#"><span id="cprof1"></span></a></p>
              <span>
                <h3>
                  <span id="cperiod1" class="cperiod">교시</span>
                  <a href="#" class="ui right floated tiny blue button">선택</a>
                </h3>
              </span>
            </div>
          </div>
          
          <div class="column">
            <div class="ui raised segment">
              <div class="left floated ui compact segment">
                <center><a href="#"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum2"></span> LIKES</center>
              </div>

              [<span id="ccode2"></span>]
              <p><a href="#"><span class="cname" id="cname2"></span></a></p>
              <p><a href="#"><span id="cprof2"></span></a></p>
              <span>
                <h3>
                  <span id="cperiod2" class="cperiod">교시</span>
                  <a href="#" class="ui right floated tiny blue button">선택</a>
                </h3>
              </span>
            </div>
          </div>
        </div>

        <div class="ui two column grid">
          <div class="column">
            <div class="ui raised segment">
              <div class="left floated ui compact segment">
                <center><a href="#"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum3"></span> LIKES</center>
              </div>
              [<span id="ccode3"></span>]
              <p><a href="#"><span class="cname" id="cname3"></span></a></p>
              <p><a href="#"><span id="cprof3"></span></a></p>
              <span>
                <h3>
                  <span id="cperiod3" class="cperiod">교시</span>
                  <a href="#" class="ui right floated tiny blue button">선택</a>
                </h3>
              </span>
            </div>
          </div>

          <div class="column">
            <div class="ui raised segment">
              <div class="left floated ui compact segment">
                <center><a href="#"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum4"></span> LIKES</center>
              </div>

              [<span id="ccode4"></span>]
              <p><a href="#"><span class="cname" id="cname4"></span></a></p>
              <p><a href="#"><span id="cprof4"></span></a></p>
              <span>
                <h3>
                  <span id="cperiod4" class="cperiod">교시</span>
                  <a href="#" class="ui right floated tiny blue button">선택</a>
                </h3>
              </span>
            </div>
          </div>
        </div>

        <div class="ui two column grid">
          <div class="column">
            <div class="ui raised segment">
              <div class="left floated ui compact segment">
                <center><a href="#"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum5"></span> LIKES</center>
              </div>

              [<span id="ccode5"></span>]
              <p><a href="#"><span class="cname" id="cname5"></span></a></p>
              <p><a href="#"><span id="cprof5"></span></a></p>
              <span>
                <h3>
                  <span id="cperiod5" class="cperiod">교시</span>
                  <a href="#" class="ui right floated tiny blue button">선택</a>
                </h3>
              </span>
            </div>
          </div>

          <div class="column">
            <div class="ui raised segment">
              <div class="left floated ui compact segment">
                <center><a href="#"><i class="glyphicon glyphicon-heart"></i></a></center>
                <center><span id="likenum6"></span> LIKES</center>
              </div>

              [<span id="ccode6"></span>]
              <p><a href="#"><span class="cname" id="cname6"></span></a></p>
              <p><a href="#"><span id="cprof6"></span></a></p>
              <span>
                <h3>
                  <span id="cperiod6" class="cperiod">교시</span>
                  <a href="#" class="ui right floated tiny blue button">선택</a>
                </h3>
              </span>
            </div>
          </div>
        </div>


        <div class="ui divider"></div>

        <center><div class="ui borderless pagination menu">
              <a class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="item">5</a>
              <a class="item">6</a>
              <a class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
            
      </div>

      <table class="ui celled table">
        <thead>
          <tr>
            <th class="four wide">Period</th>
            <th class="two wide"><center>Mon</center></th>
            <th class="two wide"><center>Tue</center></th>
            <th class="two wide"><center>Wed</center></th>
            <th class="two wide"><center>Thu</center></th>
            <th class="two wide"><center>Fri</center></th>
            <th class="two wide"><center>Sat</center></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>1st (8:30-9:45)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>2nd (10:00-11:15)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>3rd (11:30-12:45)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>4th (1:00-2:15)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>5th (2:30-3:45)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>6th (4:00-5:15)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>7th (5:30-6:45)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>8th (7:00-8:15)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>9th (8:30-9:45)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>10th (10:00-11:15)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>11th (11:30-12:45)</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <script>
      var ccode1 = "ECE20018",
          cname1 = "C 프로그래밍",
          cprof1 = "최창범 교수님",

          ccode2 = "ECE20002",
          cname2 = "자바 프로그래밍",
          cprof2 = "김인중 교수님",

          ccode3 = "ECE20003",
          cname3 = "논리설계",
          cprof3 = "한윤식 교수님",

          ccode4 = "ECE20004",
          cname4 = "이산수학",
          cprof4 = "이건 교수님",

          ccode5 = "ECE20005",
          cname5 = "컴퓨터 구조",
          cprof5 = "용환기 교수님",

          ccode6 = "ECE20006",
          cname6 = "Data Structure",
          cprof6 = "이강 교수님",

          likenum1 = 120,
          likenum2 = 114,
          likenum3 = 106,
          likenum4 = 97,
          likenum5 = 95,
          likenum6 = 88,
                
          cperiod1 = "월목 5",
          cperiod2 = "월목 5",
          cperiod3 = "목 56",
          cperiod4 = "월목 5",
          cperiod5 = "월목 5",
          cperiod6 = "목 45";

                
      var eccode1 = document.getElementById('ccode1'),
          ecname1 = document.getElementById('cname1'),
          ecprof1 = document.getElementById('cprof1'),
             
          eccode2 = document.getElementById('ccode2'),
          ecname2 = document.getElementById('cname2'),
          ecprof2 = document.getElementById('cprof2'),

          eccode3 = document.getElementById('ccode3'),
          ecname3 = document.getElementById('cname3'),
          ecprof3 = document.getElementById('cprof3'),

          eccode4 = document.getElementById('ccode4'),
          ecname4 = document.getElementById('cname4'),
          ecprof4 = document.getElementById('cprof4'),

          eccode5 = document.getElementById('ccode5'),
          ecname5 = document.getElementById('cname5'),
          ecprof5 = document.getElementById('cprof5'),

          eccode6 = document.getElementById('ccode6'),
          ecname6 = document.getElementById('cname6'),
          ecprof6 = document.getElementById('cprof6'),

          elikenum1 = document.getElementById('likenum1'),
          elikenum2 = document.getElementById('likenum2'),
          elikenum3 = document.getElementById('likenum3'),
          elikenum4 = document.getElementById('likenum4'),
          elikenum5 = document.getElementById('likenum5'),
          elikenum6 = document.getElementById('likenum6'),

          ecperiod1 = document.getElementById('cperiod1'),
          ecperiod2 = document.getElementById('cperiod2'),
          ecperiod3 = document.getElementById('cperiod3'),
          ecperiod4 = document.getElementById('cperiod4'),
          ecperiod5 = document.getElementById('cperiod5'),
          ecperiod6 = document.getElementById('cperiod6');
          
      eccode1.textContent = ccode1;
      ecname1.textContent = cname1;
      ecprof1.textContent = cprof1;

      eccode2.textContent = ccode2;
      ecname2.textContent = cname2;
      ecprof2.textContent = cprof2;

      eccode3.textContent = ccode3;
      ecname3.textContent = cname3;
      ecprof3.textContent = cprof3;

      eccode4.textContent = ccode4;
      ecname4.textContent = cname4;
      ecprof4.textContent = cprof4;

      eccode5.textContent = ccode5;
      ecname5.textContent = cname5;
      ecprof5.textContent = cprof5;

      eccode6.textContent = ccode6;
      ecname6.textContent = cname6;
      ecprof6.textContent = cprof6;

      elikenum1.textContent = likenum1;
      elikenum2.textContent = likenum2;
      elikenum3.textContent = likenum3;
      elikenum4.textContent = likenum4;
      elikenum5.textContent = likenum5;
      elikenum6.textContent = likenum6;

      ecperiod1.textContent = cperiod1;
      ecperiod2.textContent = cperiod2;
      ecperiod3.textContent = cperiod3;
      ecperiod4.textContent = cperiod4;
      ecperiod5.textContent = cperiod5;
      ecperiod6.textContent = cperiod6;
          
          
      </script>

    
	{% endblock%}
</html>
