{% load app_filter %}
{%load staticfiles%}
<script type="text/javascript" src="{% static "js/indexslider.js" %}"></script>

       {% if CourseName == None%}
       {% for PBoard2 in PageBoard.1%}
        {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">
          {% endif %}
          <div class="column">
             <div class="ui raised segment">
              <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">
                <center><img src="static/css/seal.png" height="45px" width="45px"></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{TotalAdd.1|lookup:forloop.counter0}}</span> SEALS</center>
              </div>
              
                 [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard2.Code}}</span>]
                 <p ><a style="cursor:pointer"><span id = "cname"  class="cname" name="cname" value = "">{{PBoard2.CourseName}}</span></a></p>
                
                <input type = "hidden" id="period" value = "{{PBoard1.Period}}">
                <input type = "hidden" id="semester" value = "{{PBoard1.Semester}}">
                <input type = "hidden" id="professor" value = "{{PBoard1.Professor}}">
                </div>
            </div>
           {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
        <div class="ui divider"></div>
        {% endif %}
      {% endfor%} 

        <center><div id ="SecondPageNation" class="ui borderless pagination menu">
              <a id ="Previous" class="item" name="{{PageInformation.1.0}}">
                <i class="glyphicon glyphicon-menu-left"></i> Previous   
              </a>
      
        {% for i in TotalCount.1%}
        {%if i == Page %}
         <a id ="Page" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="Page" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}{%endfor%}
              <a id = "Next" name = "{{PageInformation.1.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
            
      {% elif ProSelect == 1 %}
      {% for PBoard2 in PageBoard.1%}
       {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">

          {% endif %}
        <div class="column">
            <div class="ui raised segment">
               <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">

                <center><button id="likebutton" name = "{{PBoard2.Course.id}}" ><img src="../static/css/write.png" height="45px" width="45px"></button></center>
                <center style="margin-top:16px"><span id="likenum{{forloop.counter}}" name="likenum">{{PBoard2.Total_Count}}</span> SEALS</center>
              </div>

              <div class="sixteen wide column">
  
                [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard2.Course.Code}}</span>]
                <p><a style="cursor:pointer" href ="/CourseProfessor/{{PBoard2.Course.id}}"><span class="cname" name="cname" value = "">{{PBoard2.Course.CourseName}}</span></a></p>
                <p id="title_s"><span id="cprof1" name = "cprof">{{PBoard2.Course.Professor}} 교수님</span></p>
              </div>

            <div class="left floated center aligned sixteen wide column">                
                <button type="button" id="thumbs_up" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i><span><b>&nbsp;10</b></span></button>
                 <div class="right floated right aligned sixteen wide column" style="margin-left:15px; margin-bottom:-15px;"><span class="starvalue">{{PBoard2.Total_StarPoint}}</span></div>  
              </div>

              <br><br><br>

                 <div class="center aligned sixteen wide column" style="margin-top:-10px;">
                  <a id="tooltips" data-toggle="tooltip" title="강의속도가 느림">느림</a>
                  <input type="text" id="sa{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Speedy}}" data-slider-id="sa{{forloop.counter}}1C"/>
                  <a id="tooltips"  data-toggle="tooltip" title="강의속도가 빠름">빠름</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
                  <input type="text" id="sa{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Reliance}}" data-slider-id="sa{{forloop.counter}}2C"/>
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="간단히 요약해서 강의하심">요약적</a>
                  <input type="text" id="sa{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Question}}" data-slider-id="sa{{forloop.counter}}3C"/>
                  <a id="tooltips" data-toggle="tooltip" title="학생들이 이해할 수 있도록 자세하게 강의하심">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="주관식/서술형 문제가 주로 출제됨">서술형</a>
                  <input type="text" id="sa{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Exam}}" data-slider-id="sa{{forloop.counter}}4C"/>
                  <a id="tooltips" data-toggle="tooltip" title="객관식 문제가 주로 출제됨">단답형</a>
              </div>
            </div>
            </div>
            {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
        <div class="ui divider"></div>
          {% endif %}
              {% endfor%} 

      <center><div id ="SecondPageNation" name="AllPageNation" class="ui borderless pagination menu">
              <a id ="ProPrevious" name="{{PageInformation.1.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
      
        {% for i in TotalCount.1%}
         
        {%if i == Page %}
         <a id ="ProPage" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="ProPage" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}
      {%endfor%}
              <a id ="ProNext" name = "{{PageInformation.1.2}}" class="item" >
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
              <input type = "hidden" id="CourseHidden" value = "{{CourseName}}">
            </div></center>
         
      {%else%}
      {% for PBoard2 in PageBoard.1%}
        {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">

          {% endif %}
        <div class="column">
            <div class="ui raised segment">
               <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">

                <center><button id="likebutton" name = "{{PBoard2.Course.id}}" ><img src="../static/css/write.png" height="45px" width="45px"></button>
                </center>
                <center style="margin-top:16px"><span id="likenum{{forloop.counter}}" name="likenum">{{PBoard2.Total_Count}}</span> SEALS</center>
              </div>

              <div class="sixteen wide column">
  
                [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard2.Course.Code}}</span>]
                <p><a style="cursor:pointer" href="/Course/Period{{PBoard2.Course.id}}"><span  class="cname" name="cname" value = "">{{PBoard2.Course.CourseName}}</span></a></p>
                <p><span id="cprof1" name = "cprof">{{PBoard2.Course.Professor}} 교수님</span></p>
                <p id="title_s"><span id="csem1" name = "cprof">{{PBoard2.Course.Semester}} 학기</span></p>
              </div>

            <div class="left floated center aligned sixteen wide column">                
                <button type="button" id="thumbs_up" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i><span><b>&nbsp;10</b></span></button>
                 <div class="right floated right aligned sixteen wide column" style="margin-left:15px; margin-bottom:-15px;"><span class="starvalue">{{PBoard2.Total_StarPoint}}</span></div>  
              </div>

              <br><br><br>

                 <div class="center aligned sixteen wide column" style="margin-top:-10px;">
                  <a id="tooltips" data-toggle="tooltip" title="강의속도가 느림">느림</a>
                  <input type="text" id="sa{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Speedy}}" data-slider-id="sa{{forloop.counter}}1C"/>
                  <a id="tooltips"  data-toggle="tooltip" title="강의속도가 빠름">빠름</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
                  <input type="text" id="sa{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Reliance}}" data-slider-id="sa{{forloop.counter}}2C"/>
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="간단히 요약해서 강의하심">요약적</a>
                  <input type="text" id="sa{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Question}}" data-slider-id="sa{{forloop.counter}}3C"/>
                  <a id="tooltips" data-toggle="tooltip" title="학생들이 이해할 수 있도록 자세하게 강의하심">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="주관식/서술형 문제가 주로 출제됨">서술형</a>
                  <input type="text" id="sa{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PBoard2.Total_Exam}}" data-slider-id="sa{{forloop.counter}}4C"/>
                  <a id="tooltips" data-toggle="tooltip" title="객관식 문제가 주로 출제됨">단답형</a>
              </div>
            </div>
          </div>
        {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
         </div>
         <div class="ui divider"></div>
           {% endif %}
              {% endfor%} 

      <center><div id ="CoursePageNation" name="AllPageNation" class="ui borderless pagination menu">
              <a id ="CoursePrevious" name="{{PageInformation.1.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
      
        {% for i in TotalCount.1%}
         
        {%if i == Page %}
         <a id ="CoursePageData" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="CoursePageData" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}
      {%endfor%}
              <a id ="CourseNext" name = "{{PageInformation.1.2}}" class="item" >
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>

              <input type = "hidden" id="CourseHidden" value = "{{CourseName}}">
            </div></center>
         
        {%endif%}
 <script type="text/javascript" src="{% static "js/starjs.js" %}"></script>