{%load staticfiles%}

{% for PBoard2 in PageBoard.1%}
                 
            <div class="ui raised segment grid">

               <div id="likebtn1{{forloop.counter}}" class="left floated ui compact segment two wide column">
                    <center><button id="likebutton" name = "{{PBoard2.Course.id}}"><i class="glyphicon glyphicon-heart"></i></button></center>
                   <center><span id="likenum{{forloop.counter}}"></span>{{PBoard2.Total_Count}} LIKES</center>
               </div>

              <div id="firstcourse" class="five wide column">
                [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard2.Course.Code}}</span>]
                <p><a href="/mysite2/Course/{{PBoard2.Course.id}}"><span class="cname" name="cname" value = "">{{PBoard2.Course.CourseName}}</span></a></p>
              </div>
            </div>
    
      {%endfor%}
      
        <center><div id = "SecondPageNation" class="ui borderless pagination menu">
              <a id ="Previous" name ="{{PageInformation.1.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous  
              </a>
      
        {% for i in TotalCount.1%}
    {%if i == Page %}
         <a id ="Page" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="Page" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}    {%endfor%}
              <a id = "Next" name = "{{PageInformation.1.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>

<script type="text/javascript" src="{% static "js/indexslider.js" %}"></script>