#about_detail {
	padding: 20px;
}

#about_sub > #section {
	padding: 20px;
	border: 1px solid #87cefa;
	border-radius: 10px;
	background-color: #c0d6e4;
	box-shadow: 3px 3px 1px #888888;
	margin: 20px;
}

#sealcap {
	font-size: 30px;
	font-weight: bold;
}

#h_sectiondivider {
	border: none;
}