
#ccode_p {
	font-size: 20px;
}

#cname {
	font-size: 40px;
	font-weight: bold;
}

#cprof {
	font-size: 30px;
}

#h_sectiondivider {
	border: none;
}

#h_innersectiondivider {
	border: none;
}

#h_outersectiondivider {
	border: none;
	height: 30px;
}

#recommending {
	padding: 20px;
	border: 1px solid #87cefa;
	border-radius: 10px;
	box-shadow: 3px 3px 1px #888888;
	font-weight: bold;
	color: black;
}

#tooltips{
	text-decoration: none;
	color: black;
}

#firstcolumn{
	color: #ff7f50;
}
#secondcolumn{
	color: #9370db;
}
#thirdcolumn{
	color: #2e8b57;
}
#fourthcolumn{
	color: #008b8b;
}
#fifthcolumn{
	color: #808000;
}
#sixthcolumn{
	color: #ba55d3;
}


#sl1C .slider-handle{
	background: #ff7f50;
}
#sl1C .slider-selection{
	background: #ff7f50;
}

#sl2C .slider-handle{
	background: #9370db;
}
#sl2C .slider-selection{
	background: #9370db;
}

#sl3C .slider-handle{
	background: #2e8b57;
}
#sl3C .slider-selection{
	background: #2e8b57;
}

#sl4C .slider-handle{
	background: #008b8b;
}
#sl4C .slider-selection{
	background: #008b8b;
}

#sl5C .slider-handle{
	background: #808000;
}
#sl5C .slider-selection{
	background: #808000;
}

#sl6C .slider-handle{
	background: #ba55d3;
}
#sl6C .slider-selection{
	background: #ba55d3;
}




#sl11C .slider-handle{
	background: #ff7f50;
}
#sl11C .slider-selection{
	background: #ff7f50;
}

#sl12C .slider-handle{
	background: #9370db;
}
#sl12C .slider-selection{
	background: #9370db;
}

#sl13C .slider-handle{
	background: #2e8b57;
}
#sl13C .slider-selection{
	background: #2e8b57;
}

#sl14C .slider-handle{
	background: #008b8b;
}
#sl14C .slider-selection{
	background: #008b8b;
}

#sl15C .slider-handle{
	background: #808000;
}
#sl15C .slider-selection{
	background: #808000;
}

#sl16C .slider-handle{
	background: #ba55d3;
}
#sl16C .slider-selection{
	background: #ba55d3;
}





#sl21C .slider-handle{
	background: #ff7f50;
}
#sl21C .slider-selection{
	background: #ff7f50;
}

#sl22C .slider-handle{
	background: #9370db;
}
#sl22C .slider-selection{
	background: #9370db;
}

#sl23C .slider-handle{
	background: #2e8b57;
}
#sl23C .slider-selection{
	background: #2e8b57;
}

#sl24C .slider-handle{
	background: #008b8b;
}
#sl24C .slider-selection{
	background: #008b8b;
}

#sl25C .slider-handle{
	background: #808000;
}
#sl25C .slider-selection{
	background: #808000;
}

#sl26C .slider-handle{
	background: #ba55d3;
}
#sl26C .slider-selection{
	background: #ba55d3;
}





#sl31C .slider-handle{
	background: #ff7f50;
}
#sl31C .slider-selection{
	background: #ff7f50;
}

#sl32C .slider-handle{
	background: #9370db;
}
#sl32C .slider-selection{
	background: #9370db;
}

#sl33C .slider-handle{
	background: #2e8b57;
}
#sl33C .slider-selection{
	background: #2e8b57;
}

#sl34C .slider-handle{
	background: #008b8b;
}
#sl34C .slider-selection{
	background: #008b8b;
}

#sl35C .slider-handle{
	background: #808000;
}
#sl35C .slider-selection{
	background: #808000;
}

#sl36C .slider-handle{
	background: #ba55d3;
}
#sl36C .slider-selection{
	background: #ba55d3;
}





#sl41C .slider-handle{
	background: #ff7f50;
}
#sl41C .slider-selection{
	background: #ff7f50;
}

#sl42C .slider-handle{
	background: #9370db;
}
#sl42C .slider-selection{
	background: #9370db;
}

#sl43C .slider-handle{
	background: #2e8b57;
}
#sl43C .slider-selection{
	background: #2e8b57;
}

#sl44C .slider-handle{
	background: #008b8b;
}
#sl44C .slider-selection{
	background: #008b8b;
}

#sl45C .slider-handle{
	background: #808000;
}
#sl45C .slider-selection{
	background: #808000;
}

#sl46C .slider-handle{
	background: #ba55d3;
}
#sl46C .slider-selection{
	background: #ba55d3;
}







#sl01C .slider-handle{
	background: #ff7f50;
}
#sl01C .slider-selection{
	background: #ff7f50;
}

#sl02C .slider-handle{
	background: #9370db;
}
#sl02C .slider-selection{
	background: #9370db;
}

#sl03C .slider-handle{
	background: #2e8b57;
}
#sl03C .slider-selection{
	background: #2e8b57;
}

#sl04C .slider-handle{
	background: #008b8b;
}
#sl04C .slider-selection{
	background: #008b8b;
}

#sl05C .slider-handle{
	background: #808000;
}
#sl05C .slider-selection{
	background: #808000;
}

#sl06C .slider-handle{
	background: #ba55d3;
}
#sl06C .slider-selection{
	background: #ba55d3;
}







#sl61C .slider-handle{
	background: #ff7f50;
}
#sl61C .slider-selection{
	background: #ff7f50;
}

#sl62C .slider-handle{
	background: #9370db;
}
#sl62C .slider-selection{
	background: #9370db;
}

#sl63C .slider-handle{
	background: #2e8b57;
}
#sl63C .slider-selection{
	background: #2e8b57;
}

#sl64C .slider-handle{
	background: #008b8b;
}
#sl64C .slider-selection{
	background: #008b8b;
}

#sl65C .slider-handle{
	background: #808000;
}
#sl65C .slider-selection{
	background: #808000;
}

#sl66C .slider-handle{
	background: #ba55d3;
}
#sl66C .slider-selection{
	background: #ba55d3;
}