#Swan {
    font-family: 'Fredoka One', cursive;
    color: #87CEFA;
    font-size: 30px;
}

#recommendtop > a {
    text-decoration: none;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(loader.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

#contents {
    padding-top: 60px;
    padding-bottom: 200px;
}

div {
display: block;
}

.cname {
    font-size: 25px;
    font-weight: bold;
}

.glyphicon.glyphicon-heart {
    font-size: 40px;
    color: red;
}

#book > i {
    font-size: 50px;
    color: #87cefa;
}

#pencil > i {
    font-size: 50px;
    color: #87cefa;
}

#heart > i {
    font-size: 50px;
    color: #87cefa;
}

#eye > i{
    font-size: 50px;
    color: #87cefa;
}

#logout {
    font-size: 12px;
    font-weight: normal;
    color: red;
}

#firstcourse, #secondcourse, #thirdcourse, #fourthcourse, #fifthcourse, #sixthcourse, #seventhcourse {
    float: left;
    margin-right: 20px;
}

#recommendtop {
    margin-bottom: 20px;
}






#tooltips{
    text-decoration: none;
    color: black;
}


#sl11C .slider-handle{
    background: #ff7f50;
}
#sl11C .slider-selection{
    background: #ff7f50;
}

#sl12C .slider-handle{
    background: #9370db;
}
#sl12C .slider-selection{
    background: #9370db;
}

#sl13C .slider-handle{
    background: #2e8b57;
}
#sl13C .slider-selection{
    background: #2e8b57;
}

#sl14C .slider-handle{
    background: #008b8b;
}
#sl14C .slider-selection{
    background: #008b8b;
}




#sl21C .slider-handle{
    background: #ff7f50;
}
#sl21C .slider-selection{
    background: #ff7f50;
}

#sl22C .slider-handle{
    background: #9370db;
}
#sl22C .slider-selection{
    background: #9370db;
}

#sl23C .slider-handle{
    background: #2e8b57;
}
#sl23C .slider-selection{
    background: #2e8b57;
}

#sl24C .slider-handle{
    background: #008b8b;
}
#sl24C .slider-selection{
    background: #008b8b;
}





#sl31C .slider-handle{
    background: #ff7f50;
}
#sl31C .slider-selection{
    background: #ff7f50;
}

#sl32C .slider-handle{
    background: #9370db;
}
#sl32C .slider-selection{
    background: #9370db;
}

#sl33C .slider-handle{
    background: #2e8b57;
}
#sl33C .slider-selection{
    background: #2e8b57;
}

#sl34C .slider-handle{
    background: #008b8b;
}
#sl34C .slider-selection{
    background: #008b8b;
}





#sl41C .slider-handle{
    background: #ff7f50;
}
#sl41C .slider-selection{
    background: #ff7f50;
}

#sl42C .slider-handle{
    background: #9370db;
}
#sl42C .slider-selection{
    background: #9370db;
}

#sl43C .slider-handle{
    background: #2e8b57;
}
#sl43C .slider-selection{
    background: #2e8b57;
}

#sl44C .slider-handle{
    background: #008b8b;
}
#sl44C .slider-selection{
    background: #008b8b;
}





#sl51C .slider-handle{
    background: #ff7f50;
}
#sl51C .slider-selection{
    background: #ff7f50;
}

#sl52C .slider-handle{
    background: #9370db;
}
#sl52C .slider-selection{
    background: #9370db;
}

#sl53C .slider-handle{
    background: #2e8b57;
}
#sl53C .slider-selection{
    background: #2e8b57;
}

#sl54C .slider-handle{
    background: #008b8b;
}
#sl54C .slider-selection{
    background: #008b8b;
}






#sl61C .slider-handle{
    background: #ff7f50;
}
#sl61C .slider-selection{
    background: #ff7f50;
}

#sl62C .slider-handle{
    background: #9370db;
}
#sl62C .slider-selection{
    background: #9370db;
}

#sl63C .slider-handle{
    background: #2e8b57;
}
#sl63C .slider-selection{
    background: #2e8b57;
}

#sl64C .slider-handle{
    background: #008b8b;
}
#sl64C .slider-selection{
    background: #008b8b;
}

#sl111, #sl112, #sl113, #sl114, 
#sl121, #sl122, #sl123, #sl124, 
#sl131, #sl132, #sl133, #sl134, 
#sl141, #sl142, #sl143, #sl144, 
#sl151, #sl152, #sl153, #sl154, 
#sl161, #sl162, #sl163, #sl164{
    width: 177px;
}

#sl111C .slider-handle{
    background: #ff7f50;
}
#sl111C .slider-selection{
    background: #ff7f50;
}

#sl112C .slider-handle{
    background: #9370db;
}
#sl112C .slider-selection{
    background: #9370db;
}

#sl113C .slider-handle{
    background: #2e8b57;
}
#sl113C .slider-selection{
    background: #2e8b57;
}

#sl114C .slider-handle{
    background: #008b8b;
}
#sl114C .slider-selection{
    background: #008b8b;
}




#sl121C .slider-handle{
    background: #ff7f50;
}
#sl121C .slider-selection{
    background: #ff7f50;
}

#sl122C .slider-handle{
    background: #9370db;
}
#sl122C .slider-selection{
    background: #9370db;
}

#sl123C .slider-handle{
    background: #2e8b57;
}
#sl123C .slider-selection{
    background: #2e8b57;
}

#sl124C .slider-handle{
    background: #008b8b;
}
#sl124C .slider-selection{
    background: #008b8b;
}





#sl131C .slider-handle{
    background: #ff7f50;
}
#sl131C .slider-selection{
    background: #ff7f50;
}

#sl132C .slider-handle{
    background: #9370db;
}
#sl132C .slider-selection{
    background: #9370db;
}

#sl133C .slider-handle{
    background: #2e8b57;
}
#sl133C .slider-selection{
    background: #2e8b57;
}

#sl134C .slider-handle{
    background: #008b8b;
}
#sl134C .slider-selection{
    background: #008b8b;
}





#sl141C .slider-handle{
    background: #ff7f50;
}
#sl141C .slider-selection{
    background: #ff7f50;
}

#sl142C .slider-handle{
    background: #9370db;
}
#sl142C .slider-selection{
    background: #9370db;
}

#sl143C .slider-handle{
    background: #2e8b57;
}
#sl143C .slider-selection{
    background: #2e8b57;
}

#sl144C .slider-handle{
    background: #008b8b;
}
#sl144C .slider-selection{
    background: #008b8b;
}





#sl151C .slider-handle{
    background: #ff7f50;
}
#sl151C .slider-selection{
    background: #ff7f50;
}

#sl152C .slider-handle{
    background: #9370db;
}
#sl152C .slider-selection{
    background: #9370db;
}

#sl153C .slider-handle{
    background: #2e8b57;
}
#sl153C .slider-selection{
    background: #2e8b57;
}

#sl154C .slider-handle{
    background: #008b8b;
}
#sl154C .slider-selection{
    background: #008b8b;
}






#sl161C .slider-handle{
    background: #ff7f50;
}
#sl161C .slider-selection{
    background: #ff7f50;
}

#sl162C .slider-handle{
    background: #9370db;
}
#sl162C .slider-selection{
    background: #9370db;
}

#sl163C .slider-handle{
    background: #2e8b57;
}
#sl163C .slider-selection{
    background: #2e8b57;
}

#sl164C .slider-handle{
    background: #008b8b;
}
#sl164C .slider-selection{
    background: #008b8b;
}