/*------------------Menu navbar's css----------------------*/

#menu.navbar-default .navbar-brand {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
    color: #ffffff;
}
#menu.navbar-default {
    font-size: 14px;
    background-color: #87cefa;
    border-bottom-width: 1px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    background-color: #87cefa;
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #3faff5;
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: #000000;
    background-color: #ffffff;
}
#menu.navbar-default .navbar-nav>li>ul>li>a {
    color: #ffffff;
    background-color: #87cefa;
}
#menu.navbar-default .navbar-nav>li>ul>li>a:hover,
#menu.navbar-default .navbar-nav>li>ul>li>a:focus {
    color: #ffffff;
    background-color: #3faff5;
}
#menu.navbar-default .navbar-nav>.active>ul>li>a,
#menu.navbar-default .navbar-nav>.active>ul>li>a:hover,
#menu.navbar-default .navbar-nav>.active>ul>li>a:focus {
    color: #000000;
    background-color: #ffffff;
}
#menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #87cefa;
}