{% extends "m_skins/m_html/base.html" %}

   
 <head>
  {%load staticfiles%}
  {% block head%}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static "css/confirm.css"%}" />
    <script type="text/javascript" src="{% static "js/confirm.js"%}"></script>

    <title>{% block title%}SEAL - Login{%endblock%}</title>
	{%endblock%}
  </head>
  <body>
  {% block content%}

    <div class="container" style="padding:100px 0">
      <div class="col-sm-2"></div>

      <div class="col-sm-8" id="confirmcontainer">

        <div class="box" id="mycontent-left-register">
            <h class="title1 hidden-xs">SEAL</h>
            <p class="title2 visible-xs">SEAL</p>
            <p class="detail">Students' Excellent Achievement in Learning</p>
            <p class="detail2">한동대학교 학생들의 학업성취도 향상을 위한</p>
            <p class="detail2">강의추천 및 강의정보 열람서비스입니다.</p>
        </div>
         

        <div class="box" id="mycontent-right">


          <form method ="POST" action="/HisnetCheck/">{%csrf_token%}

            <div class="form-group" method="post" action="/Register">
            <h2>입력값이 올바르지 않습니다.</h2>
            <h3> 1. 학번이 올바른지 확인하세요. <br/>
             2. 히즈넷 아이디를 확인하세요. <br/>
             3. 히즈넷 비밀번호를 확인하세요. </h3>
          
             <p>&nbsp;</p>
              <div class="ui medium buttons">
                  <a href = "/Confirm"><input type="button" id="return" value="돌아가기" class="ui blue button"></a>
                  <div class="or"></div>
                  <a href = "/"><input type="button" id="cancel" value="Cancel" class="ui blue button"></a>
              </div>

            </div>

          </form>

        </div>
      </div>

      <div class="col-sm-2"></div>      
    </div>

  {%endblock%}
  </body>

</html>