<!doctype html>
{% extends "m_skins/m_html/base.html" %}

   
{% load app_filter %}
{% load staticfiles %}   
  
   {% block head %}    
     <title>{%block title %} ▒ SEAL ▒{%endblock%} </title>
     <link rel="shortcut icon" href="static/m_skins/m_css/seal_title.png">    
   
   <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>  

     
    <link rel="stylesheet" type="text/css" href="{% static "m_skins/m_css/IndexPage/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "m_skins/m_css/indexslider.css" %}">
    <script type="text/javascript" src="{% static "js/starjs.js" %}"></script>
    <script type="text/javascript" src="{% static "m_skins/m_js/IndexPage/commenthide.js" %}"></script>
    

    {% endblock%}
    <script>
 document.onkeydown = function (e) {

            key = (e) ? e.keyCode : event.keyCode;
            
                if (e) {
                    e.preventDefault();
                } //if(e)
                else {
                    event.keyCode = 0;
                    event.returnValue = false;
                }
            
        }
     
});
</script>
 
  <body onload="onLoad()">
    {% block content %}  
    
    

    <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-11 col-sm-11 col-xs-11">

      <h2 class="ui header">
        <i class="glyphicon glyphicon-book"></i> Courses
      </h2>
        
      {%if Search == None%}
      <div class="ui small tabular filter menu" style ="margin-right:-2rem">
        <a id="All" class="active item" data-tab="all">최신순</a>
        <a id="FirstMajor" class="item" data-tab="unread">1전공</a>
        <a id="SecondMajor" class="item" data-tab="saved">2전공</a>
      </div>
      {%endif%}

     
      <div class="ui very relaxed column grid">
        <div class="column" style="margin-top: -15px; padding-right: 0.4rem;">

    {%if Search == None%}
    <div id ="FirstPage" class="ui divided very relaxed selection inbox list tab" style="margin-top: 13px;" data-tab="unread">

        

     {% for PBoard1 in PageBoard.0%}
           {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">

          {% endif %}
            <div class="column">
             <div class="ui raised segment">
              <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">
                <center><img src="{% static "m_skins/m_css/seal.png" %}" height="45px" width="45px"></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{TotalAdd.0|lookup:forloop.counter0}}</span> SEALS</center>
              </div>
              
                 [<span id="ccode" name ="ccode" value ="a">{{PBoard1.Code}}</span>]
                 <p><a style="cursor:pointer"><span id = "cname"  class="cname" name="cname" value = "">{{PBoard1.CourseName}}</span></a></p>
                 
                <input type = "hidden" id="period" value = "{{PBoard1.Period}}">
                <input type = "hidden" id="semester" value = "{{PBoard1.Semester}}">
                <input type = "hidden" id="professor" value = "{{PBoard1.Professor}}">
                </div>
            </div>
           {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
          {% endif %}
      {%endfor%}
              <div class="ui divider"></div>

                        
      <center><div id ="FirstPageNation" class="ui borderless pagination menu">
              <a id ="Previous" name="{{PageInformation.0.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
      
        {% for i in TotalCount.0%}
{%if i == Page %}
         <a id ="Page" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="Page" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}        
        {%endfor%}
              <a id ="Next" name = "{{PageInformation.0.2}}" class="item" >
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
      </div></center>
    </div>
               
               				
      <div id="SecondPage" class="ui divided very relaxed inbox selection list tab" style="margin-top: 13px;" data-tab="saved">
	    {% for PBoard2 in PageBoard.1%}      
          {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">
          {% endif %}
          <div class="column">
             <div class="ui raised segment">
              <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">
                <center><img src="{% static "m_skins/m_css/seal.png" %}" height="45px" width="45px"></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{TotalAdd.1|lookup:forloop.counter0}}</span> SEALS</center>
              </div>
              
                 [<span id="ccode" name ="ccode" value ="a">{{PBoard2.Code}}</span>]
                 <p ><a style="cursor:pointer"><span id = "cname"  class="cname" name="cname" value = "">{{PBoard2.CourseName}}</span></a></p>
                 
                <input type = "hidden" id="period" value = "{{PBoard2.Period}}">
                <input type = "hidden" id="semester" value = "{{PBoard2.Semester}}">
                <input type = "hidden" id="professor" value = "{{PBoard2.Professor}}">
              </div>
            </div>
           {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
          {% endif %}
      {%endfor%}
      <div class="ui divider"></div>

        <center><div id = "SecondPageNation" class="ui borderless pagination menu">
              <a id ="Previous" name ="{{PageInformation.1.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous  
              </a>
      
        {% for i in TotalCount.1%}
      {%if i == Page %}
         <a id ="Page" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="Page" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}        
  {%endfor%}
              <a id = "Next" name = "{{PageInformation.1.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
          </div>
         
	<div id ="ThirdPage" class="ui divided very relaxed inbox selection list active tab" data-tab="all">
    {% for PBoard3 in PageBoard.2%}
        {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">
          {% endif %}
          <div class="column">
             <div class="ui raised segment">
               <h4><b>{{PBoard3.CreatedID.UserName}}/{{PBoard3.CreatedID.User.username.1}}{{PBoard3.CreatedID.User.username.2}}학번/{{PBoard3.CreatedID.FirstMajor}}</b></h4>

               <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment" style="margin-bottom:23px">
                <center><img src="{% static "m_skins/m_css/seal.png" %}" height="45px" width="45px"></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{TotalAdd.2|lookup:forloop.counter0}}</span> SEALS</center>
              </div>
              
                 [<span id="ccode{{forloop.counter}}" name ="ccode" value ="a">{{PBoard3.Course.Code}}</span>]
                 <p ><a style="cursor:pointer" href="/CourseProfessor/{{PBoard3.Course.id}}"><span id = "last_cname"  class="cname" name="cname" value = "">{{PBoard3.Course.CourseName}}</span></a></p>
                <input type = "hidden" id="period" value = "{{PBoard3.Period}}">
                <p><span id="cprof1" name = "cprof">{{PBoard3.Course.Professor}} 교수님</span></p>
                <p><span id="csem1" name = "cprof">{{PBoard3.Course.Semester}} 학기</span></p>
                <br>

            {% if PBoard3.Check == True %}
          <button type ="button" id="enable6" style="background-color:#FFEB3B; margin-left:18px; font-size:18px;" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
            {% else %}
           <button type ="button" id="enable6" style="background-color:#CCC; margin-left:18px; font-size:18px;" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i></button>
           {%endif%}
           
           <div class="center aligned sixteen wide column" style="margin-left:115px; margin-top:-35px; margin-bottom: 5px;"><span class="starvalue">{{PBoard3.StarPoint}}</span></div>
         
          <div id="recommending" class="ui column">
            <div id="blankspace" class="ui column"></div>

           

             <div id="qna_border_a" class="ui raised segment" style="margin-right: 2px;"><b>Comment</b>
            <div id="open" >
                    {{PBoard3.CourseComment|truncatechars:30|linebreaks}}</div>
            <div id ="close" style="display:none">
              {{PBoard3.CourseComment|linebreaks}}</div>
             
              </div>
          </div>

            </div>
          </div>
               {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
          {% endif %}
      {% endfor%} 
        <div class="ui divider"></div>

          <center><div id ="ThirdPageNation" class="ui borderless pagination menu">
              <a id ="Previous" class="item" name="{{PageInformation.2.0}}">
                <i class="glyphicon glyphicon-menu-left"></i> Previous   
              </a>
      
        {% for i in TotalCount.2%}
       {%if i == Page %}
         <a id ="Page" name ="{{i}}" class="active item" >{{i}}</a>
        
        {%else%}
         <a id ="Page" name ="{{i}}" class="item" >{{i}}</a>
        {%endif%}        
 {%endfor%}
              <a id = "Next" name = "{{PageInformation.2.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>

      </div>
      {%endif%}

          <div id = "Search_Page">
          {% if not Search == None  %}
            {% if Search.0 != None%}
            {% for SBoard in Search.0%}
               
            {% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">
          {% endif %}
          <div class="column">
             <div class="ui raised segment">
              <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">
                <center><img src="{% static "m_skins/m_css/seal.png" %}" height="45px" width="45px"></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{TotalAdd|lookup:forloop.counter0}}</span> SEALS</center>
              </div>
              
                 [<span id="ccode" name ="ccode" value ="a">{{SBoard.Course.Code}}</span>]
                 <p><a style="cursor:pointer"><span id = "cname"  class="cname" name="cname" value = "">{{SBoard.Course.CourseName}}</span></a></p>
                 
                <input type = "hidden" id="period" value = "{{SBoard.Course.Period}}">
                <input type = "hidden" id="semester" value = "{{SBoard.Course.Semester}}">
                <input type = "hidden" id="professor" value = "{{SBoard.Course.Professor}}">
                </div>
            </div>
           {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
          {% endif %}
              {%endfor%}
             <div class="ui divider"></div>

         
             <center><div id = "SearchPageNation" class="ui borderless pagination menu">
              <a id="SearchPrevious" name ="{{PageInformation.0}}" class="item" >
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>

              {% for i in TotalCount %}
                {%if i == PageInformation.1 %}
                   <a id ="SearchPage" name ="{{i}}" class="active item" >{{i}}</a>
                  
                  {%else%}
                   <a id ="SearchPage" name ="{{i}}" class="item" >{{i}}</a>
                  {%endif%}        
              {%endfor%}
        
              <a id="SearchNext" class="item" name="{{PageInformation.2}}">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
            {%else%}
                  데이터가 없습니다.
            {%endif%}
            {%endif%}
        </div>

        <div class="ui divider"></div>

                              
      </div>        
    </div>


    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
   <script type="text/javascript" src="{% static "js/IndexPage/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/indexslider.js" %}"></script>
    {%endblock%}
    </div>
  </body>

    
</html>
