
<!doctype html>
{% extends "m_skins/m_html/base.html" %}
{% load staticfiles%}
<html lang='ko'>
  <head>
  {% block head%}
     <title>{%block title %} ▒ SEAL ▒{%endblock%} </title>
    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>
       <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static "js/mycourses.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/mycourses.css" %}">
{%endblock%}
  </head>

  <body>

    {% block content%}

    <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">

      <h2 class="ui header">
        <i class="glyphicon glyphicon-book"></i> My Courses
      </h2>

      <div class="ui small tabular filter menu">
        <a class="active item" data-tab="unread">내가 추천한 강의</a>
        <a class="item" data-tab="saved">듣고 싶은 강의</a>
      </div>

       
        <div class="column">
          <div id ="RecommendPageMain" class="ui divided very relaxed selection inbox list active tab" data-tab="unread">
                {%for PageBoard in RecommendPage%}
            <div class="ui raised segment">
              <div class="sixteen wide column" style="padding-bottom: 30px;">
                <div class="left floated ui compact segment">
                  <center><a href="/Recommend/{{PageBoard.Course.id}}"><i class="glyphicon glyphicon-heart"></i></a></center>
                  <center><span id="likenum1">{{PageBoard.Total_Count}}</span> LIKES</center>
                </div>

                <div class="sixteen wide column">
                  [<span id="ccode1">{{PageBoard.Course.Code}}</span>]
                  <p><a href="/Course/{{PageBoard.Course.id}}"><span class="cname" id="cname1">{{PageBoard.Course.CourseName}}</span></a></p>

                  <p><a><span id="cprof1">{{PageBoard.Course.Professor}} 교수님</span></a></p>
                </div>
              </div>

              <div class="center aligned sixteen wide column" style="padding-left: 35px;">
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="신속하게 중요한 점들만 짚어 가신다">신속함</a>&nbsp;&nbsp;
                  <input type="text" id="sl{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}1C" data-slider-value = "{{PageBoard.Total_Speedy}}"/>
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="느긋하고 자세하게 가르쳐 주신다">느긋함</a><br />
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="요약해서 중요한 점들만 알기 쉽게 가르쳐 주신다">요약됨</a>&nbsp;&nbsp;
                  <input type="text" id="sl{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}2C" data-slider-value ="{{PageBoard.Total_Question}}"/>
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="자세하게 이해할 때까지 가르쳐 주신다">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="주로 교재에 있는 내용을 바탕으로 가르쳐 주신다">교재위주</a>
                  <input type="text" id="sl{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}3C" data-slider-value = "{{PageBoard.Total_Reliance}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="강의에서 사용하는 PPT나 강의 말씀이 중요하다">강의위주</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">교내도움</a>
                  <input type="text" id="sl{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl{{forloop.counter}}4C" data-slider-value = "{{PageBoard.Total_Helper}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">교외도움</a>
              </div>
            </div>
        {% endfor%}
         <center><div id ="RecommendPageNation" class="ui borderless pagination menu">
              <a id ="RecommendPrevious" name = "{{PageInformation.0.0}}" class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {% for i in TotalCount.0%}
              {% if PageInformation.0.1 == i %}
              <a id = "RecommendPage" name = "{{i}}" class="active item">{{i}}</a>
              {%else%}
              <a id = "RecommendPage" name = "{{i}}" class="item">{{i}}</a>
              {%endif%}
              {%endfor%}
              <a id = "RecommendNext" name = "{{PageInformation.0.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>

          </div>





          <div id = "LikePageMain" class="ui divided very relaxed inbox selection list tab" data-tab="saved">
          {% for PageBoard2 in LikePage%}
            <div class="ui raised segment">
              <div class="sixteen wide column" style="padding-bottom: 30px;">
                <div class="left floated ui compact segment two wide column">
                  <center><a href="/Recommend/{{PageBoard2.Course.id}}"><i class="glyphicon glyphicon-heart"></i></a></center>
                  <center><span id="likenum11">{{PageBoard2.Total_Count}}</span> LIKES</center>
                </div>
                    
                <div class="sixteen wide column">    
                  [<span id="ccode11">{{PageBoard2.Course.Code}}</span>]
                  <p><a href="/Course/{{PageBoard2.Course.id}}"><span class="cname" id="cname11">{{PageBoard2.Course.CourseName}}</span></a></p>

                  <p><a><span id="cprof11">{{PageBoard2.Course.Professor}} 교수님</span></a></p>
                </div>
              </div>

              <div class="center aligned sixteen wide column" style="padding-left: 16px;">
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="신속하게 중요한 점들만 짚어 가신다">신속함</a>&nbsp;&nbsp;
                  <input type="text" id="sl11{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}1C" data-slider-value ="{{PageBoard2.Total_Speedy}}"/>
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="느긋하고 자세하게 가르쳐 주신다">느긋함</a><br />
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="요약해서 중요한 점들만 알기 쉽게 가르쳐 주신다">요약됨</a>&nbsp;&nbsp;
                  <input type="text" id="sl11{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}2C" data-slider-value ="{{PageBoard2.Total_Question}}"/>
                  &nbsp;&nbsp;<a id="tooltips" data-toggle="tooltip" title="자세하게 이해할 때까지 가르쳐 주신다">자세함</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="주로 교재에 있는 내용을 바탕으로 가르쳐 주신다">교재위주</a>
                  <input type="text" id="sl11{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}3C" data-slider-value ="{{PageBoard2.Total_Reliance}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="강의에서 사용하는 PPT나 강의 말씀이 중요하다">강의위주</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="교내의 다른 수업에서 도움이 된다">교내도움</a>
                  <input type="text" id="sl11{{forloop.counter}}4" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-id="sl1{{forloop.counter}}4C" data-slider-value ="{{PageBoard2.Total_Helper}}"/>
                  <a id="tooltips" data-toggle="tooltip" title="수업외의 외부활동이나 사회에서 도움이 된다">교외도움</a>
              </div>
            </div>
		        {%endfor%}


           <center><div id ="LikePageNation" class="ui borderless pagination menu">
              <a id = "LikePrevious" name ="{{PageInformation.1.0}}" class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {% for i in TotalCount.1%}
              {%if PageInformation.0.1 == i%}
              <a id ="LikePage" name="{{i}}" class="active item">{{i}}</a>
              {%else%}
              <a id ="LikePage" name="{{i}}" class="item">{{i}}</a>
              
              {%endif%}
              {%endfor%}
              <a id = "LikeNext" name = "{{PageInformation.1.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
          </div>

          
            
        <div class="ui divider"></div>

                              
        </div>
      

    {%endblock%}

  </body>
</html>