{% load staticfiles %}
<div id="qna_board">
              
              <table class="ui unstackable table">
                 <thead>
                  <tr>
                      <th class="one wide"><center>번호</center></th>
                      <th class="eleven wide"><center>제목</center></th>
                      <th class="three wide"><center>작성자</center></th>
                      <th class="one wide"><center>날짜</center></th>
                      <th class="one wide"><center>조회</center></th>
                  </tr>
                </thead>
                
                <tbody class="qna_sub">
                  
		  {% for Board in PageBoard%} 
		  <tr id="qna{{Board.id}}">
                    <td><center><span id="qna_num{{Board.id}}">{{Board.id}}</span></center></td>
                   
                    <td class="qna_title"><a href="/QnA/{{Board.id}}">{{Board.TextName}}</a><span>  {% if Board.created|date:"Y-m-d" == Today|date:"Y-m-d"%}
                    <img src="{% static "fonts/latest.gif"%}"> {% endif %}</span></td>
                   
                    <td><center>{{Board.TextWriter.UserName}}</center></td>
                    <td><center>{{Board.created|date:"Y-m-d"}}</center></td>
                    <td><center><span id="qna_click1">{{Board.ClickScore}}</span></center></td>
                  </tr>
                  {% if not ReplyBoard == None%}
                     {% for ReplyData in ReplyBoard%}
                        {%for Reply in ReplyData%}
                          {% if Reply.QuestionID == Board.id %}
                         
                      
                  <tr class="ans" id="ans{{Board.id}}">
                      
                      <td></td>
                      <td><img src="{% static "fonts/reply.gif"%}"><a href="/QnA/{{Board.id}}">{{Reply.TextName}}</a></td>
                      <td><center>{{Reply.TextWriter.UserName}}</center></td>
                      <td><center>{{Reply.created|date:"Y-m-d"}}</center></td>
                  
                      <td></td>
                      
		              </tr>
                           {%endif%}
                        {%endfor%}
                      {%endfor%}
                 {%endif%}
                      
		 {%endfor%}
		</tbody>
              </table>
      
                                                 
                                          
              <center><div class="ui borderless pagination menu">
              <a id ="Previous" name="{{PageInformation.0}}" class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
	      
	      {% for i in  TotalCount %}
		
              {%if PageInformation.1 == i%}

              <a id ="Page" name="{{i}}" class="active item" >{{i}}</a>
              {%else%}
              <a id ="Page" name="{{i}}" class="item" >{{i}}</a>
              {%endif%}
              {% endfor%}
         
              <a id ="Next" name ="{{PageInformation.2}}" class="item" >  Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
              
          </div>
        