{%load staticfiles%}
{%for PageBoard in RecommendPage%}
{% if forloop.counter0|divisibleby:"2" %}
        <div class="ui stackable two column grid">

          {% endif %}
          <div class="column">
            <div class="ui raised segment">
                <div id="likebtn2{{forloop.counter}}" class="left floated ui compact segment">

                <center><a href="/Recommend/{{PageBoard.Course.id}}"><img src="{% static "m_skins/m_css/seal.png" %}" height="45px" width="45px"></a></center>
                <center><span id="likenum{{forloop.counter}}" name="likenum">{{PageBoard.Total_Count}}</span> SEALS</center>
              </div>

              <div class="sixteen wide column">

                [<span id="ccode{{forloop.counter}}" name="ccode" value="a">{{PageBoard.Course.Code}}</span>]
                  <div class="right floated right aligned one wide column" style="display:inline"><a href=""><i id="delete" class="glyphicon glyphicon-remove"></i></a></div>
                <p><a style="cursor:pointer" href="/CourseProfessor/{{PageBoard.Course.id}}"><span class="cname" id="cname" value="">{{PageBoard.Course.CourseName}}</span></a></p>
                <p id="title_s"><span id="cprof1" name="cprof">{{PageBoard.Course.Professor}} 교수님</span></p>
              </div>

            <div class="left floated left aligned sixteen wide column">                
                <button type ="button" id="thumbs_up" class="circular ui icon button"><i class="glyphicon glyphicon-thumbs-up"></i><span><bj>&nbsp;10</b></span></button>
                <div class="right floated right aligned sixteen wide column" style="margin-top:-34px; margin-left:10px"><span class="starvalue">{{PageBoard.Total_StarPoint}}</span></div>
              </div>

              <div class="center aligned sixteen wide column">
                 <br><br><br><br>
                 <a id="tooltips" data-toggle="tooltip" title="강의 속도가 느림">느림</a>
                  <input type="text" id="sl1{{forloop.counter}}1" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PageBoard.Total_Speedy}}" data-slider-id="sl1{{forloop.counter}}1C"/>
                  <a id="tooltips"  data-toggle="tooltip" title="강의속도가 빠름">빠름</a><br />
                  <a id="tooltips"  data-toggle="tooltip" title="교재 의존도가 낮음">적음</a>
                  <input type="text" id="sl1{{forloop.counter}}2" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PageBoard.Total_Reliance}}" data-slider-id="sl1{{forloop.counter}}2C"/>
                  <a id="tooltips" data-toggle="tooltip" title="교재 의존도가 높음">많음</a><br />
                  <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 낮음">쉬움</a>
                  <input type="text" id="sl1{{forloop.counter}}3" data-slider-min="1" data-slider-max="9" data-slider-orientation="horizontal" data-slider-tooltip="hide" data-slider-disabled="false" data-slider-value="{{PageBoard.Total_Question}}" data-slider-id="sl1{{forloop.counter}}3C"/>
                  <a id="tooltips" data-toggle="tooltip" title="전반적 수업 난이도가 높음">어려움</a>
              </div>
            </div>
          </div>
          {% if not forloop.counter0|divisibleby:"2" or forloop.last %}
        </div>
        <div class="ui divider"></div>
          {% endif %}
        {% endfor%}
        
        <center><div id ="RecommendPageNation" class="ui borderless pagination menu">
              <a id ="RecommendPrevious" name = "{{PageInformation.0.0}}" class="item">
                <i class="glyphicon glyphicon-menu-left"></i> Previous
              </a>
              {% for i in TotalCount.0%}
              {%if PageInformation.0.1 == i%}

              <a id ="RecommendPage" name="{{i}}" class="active item" >{{i}}</a>
              {%else%}
              <a id ="RecommendPage" name="{{i}}" class="item" >{{i}}</a>
              {%endif%}
              {%endfor%}
              <a id = "RecommendNext" name = "{{PageInformation.0.2}}" class="item">
                Next <i class="glyphicon glyphicon-menu-right"></i>
              </a>
            </div></center>
<script type="text/javascript" src="{% static "m_skins/m_js/starjs.js" %}"></script>

            <script type="text/javascript" src="{% static "m_skins/m_js/mycourses.js" %}"></script>