{% extends "html/base.html" %}

   

  <head>
	{% load staticfiles%}
	{% block head%}
	
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="{% static "css/LoginPage/register.css"%}" />
    <script type="text/javascript" src="{% static "js/LoginPage/register.js"%}"></script>

    <title>{% block title %}SEAL - Login{% endblock %}</title>
	{% endblock %}
  </head>
  <body>
  {% block content%}

    <div class="container" style="padding:100px 0">
      <div class="col-sm-2"></div>

      <div class="col-sm-8" id="registercontainer">

        <div class="box" id="mycontent-left-register">
            <h class="title1 hidden-xs">SEAL</h>
            <p class="title2 visible-xs">SEAL</p>
            <p class="detail">Students' Excellent Achievement in Learning</p>
            <p class="detail2">설명1</p>
            <p class="detail2">설명2</p>
        </div>

        <div class="box" id="mycontent-right">

          <form method ="POST" action="/mysite2/Register/">

            <div class="form-group" method="post" action="#">
              <label class="control-label" for="stu_num">아이디</label>&nbsp;&nbsp;&nbsp;&nbsp;아이디는 학번으로 일괄 적용됩니다.
             <p>&nbsp;</p>
              <label class="control-label" for="stu_num">{{stu_num}}</label>
              <input type="hidden" id="stu_num" class="form-control" name="stu_num" value="{{stu_num}}">

             <p>&nbsp;</p>
              <label class="control-label" for="user_pw" style="padding-top: 15px;">비밀번호</label>
              <input type="password" id="password" class="form-control" name="user_pw" placeholder="비밀번호">

              <label class="control-label" for="repassword" style="padding-top: 15px;">비밀번호 재입력</label>
              <input type="password" id="repassword" class="form-control" name="repassword" placeholder="비밀번호">

              <label class="control-label" for="user_email" style="padding-top: 15px;">E-mail 주소</label>
              <input type="text" id="user_email" class="form-control" name="user_email" placeholder="E-mail 주소">

              <label class="control-label" for="user_name" style="padding-top: 15px;">이름</label>
              <label class="control-label" for="user_name" style="padding-top: 15px;">{{stu_name}}</label>
              <input type="hidden" id="user_name" class="form-control" name="user_name" value="{{stu_name}}">

              <label class="control-label" for="first_major" style="padding-top: 15px;">1전공</label>
              <label class="control-label" for="first_major" style="padding-top: 15px;">{{first_major}}</label>
              <input type="hidden" id="first_major" class="form-control" name="first_major" value="{{first_major}}">

              <label class="control-label" for="second_major" style="padding-top: 15px;">2전공</label>
              <label class="control-label" for="second_major" style="padding-top: 15px;">{{second_major}}</label>
              <input type="hidden" id="second_major" class="form-control" name="second_major" value="{{second_major}}">

            </div>

            <div class="form-group" method="post" action="#">
              <input type="submit" id="register" value="Register" class="btn btn-info">
              <input type="button" id="cancel" value="Cancel" class="btn btn-info">
            </div>

          </form>

        </div>
      </div>

      <div class="col-sm-2"></div>      
    </div>
	{%endblock%}
    </body>
</html>