	<!doctype html>

{% extends "m_skins/m_html/base.html" %}

   
  
 {% load staticfiles %}
  {% block head %}
   
    <title>▒ SEAL ▒</title>
      <link rel="shortcut icon" href="{% static "m_skins/m_css/seal_title.png" %}">

    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>


    </script>
    
    <link rel="stylesheet" type="text/css" href="{% static "m_skins/m_css/IndexPage/main.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "m_skins/m_css/mypage.css" %}">
    <script type="text/javascript" src="{% static "m_skins/m_js/mypage.js" %}"></script>
    <script type="text/javascript" src="{% static "m_skins/m_js/IndexPage/main.js" %}"></script>
   
  {% endblock%}

  <body>
  {% block content%}
   
    <div class="containerss"></div>
    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">

      <h2 class="ui header"><i class="glyphicon glyphicon-user"></i> My Page <button class="btn btn-info">UPDATE</button></h2>

      <div id="myprofile" class="ui column">
        
        <div id="myname" class="ui grid">
          <div class="left floated right aligned four wide column"><span id="firstcolumn">이름</span></div>
          <div class="left floated center aligned one wide column"><span id="secondcolumn">:</span></div>
          <div class="left floated left aligned ten wide column"><span id="thirdcolumn">{{user.profile.UserName}}</span></div> 
        </div>

        <div id="yrnum" class="ui grid">
          <div class="left floated right aligned four wide column"><span id="firstcolumn">학번</span></div>
          <div class="left floated center aligned one wide column"><span id="secondcolumn">:</span></div>
          <div class="left floated left aligned ten wide column"><span id="thirdcolumn">{{user.username}}</span></div>  
        </div>

        <div id="firstmajor" class="ui grid">
          <div class="left floated left aligned five wide column"><span id="firstcolumn">제1전공</span></div>
          <div class="left floated center aligned one wide column"><span id="secondcolumn">:</span></div>
          <div class="left floated left aligned nine wide column"><span id="thirdcolumn">{{user.profile.FirstMajor}}</span></div>
        </div>

        <div id="secondmajor" class="ui grid">
          <div class="left floated left aligned five wide column"><span id="firstcolumn">제2전공</span></div>
          <div class="left floated center aligned one wide column"><span id="secondcolumn">:</span></div>
          <div class="left floated left aligned nine wide column"><span id="thirdcolumn"></span>{{user.profile.SecondMajor}}</div>
        </div>

        <div id="id" class="ui grid">
          <div class="left floated left aligned five wide column"><span id="firstcolumn">아이디</span></div>
          <div class="left floated center aligned one wide column"><span id="secondcolumn">:</span></div>
          <div class="left floated left aligned nine wide column"><span id="thirdcolumn">{{user.username}}</span></div>
        </div>

        <div id="pw" class="ui grid">
          <div class="left floated lfet aligned five wide column"><span id="firstcolumn">비밀번호</span></div>
          <div class="left floated center aligned one wide column"><span id="secondcolumn">:</span></div>
          <form id = "PasswordChange" action = "/MyPage/PasswordChange/" method = "POST">
           {%csrf_token%}
         
          <div class="center aligned nine wide column"><button id="btnnum4" type = "button" class="btn btn-info">비밀번호 변경</button></div> 
          </form> 
        </div>
        
        <div id="recomcourse" class="ui grid">
          <div class="left floated left aligned eight wide column"><span id="firstcolumn">내가 평가한 강의 :</span></div>
          <div class="left floated left aligned six wide column"><span id="thirdcolumn">{{user.profile.RecommendCount}}개</span></div>
          <div class="center aligned sixteen wide column"><a href = "/MyCourse"><button  class="btn btn-info">목록으로 가기</button></a></div> 
        </div>

        <div id="wantcourse" class="ui grid">
          <div class="left floated left aligned eight wide column"><span id="firstcolumn">듣고 싶은 강의 :</span></div>
          <div class="left floated left aligned six wide column"><span id="thirdcolumn">{{user.profile.LikeCount}}개</span></div>
          <div class="center aligned sixteen wide column"><a href = "/MyCourse"><button class="btn btn-info"> 목록으로 가기</button></a></div>
        </div>

      </div>
	 
     <br></br>
     
   {%endblock%}
  </body>
</html>
