<!doctype html>
{% extends "m_skins/m_html/base.html" %}

   
   {%block head%}
   
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>▒ SEAL ▒</title>
    <link href='http://fonts.googleapis.com/css?family=Fredoka+One|Luckiest+Guy' rel='stylesheet' type='text/css'>

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
      
      #h_sectiondivider {
        border: none;
      }

    </style>

    
  {%endblock%}

  {%block content%}

    <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-8 col-sm-10 col-xs-10">

      <h2 class="ui header"><i class="glyphicon glyphicon-warning-sign"></i> 신고</h2>

      <div class="ui column">
        <p>SEAL은 한동대학생이라면 누구든지 자신이 들은 수업에 대하여 추천을 할 수 있게 열어놓았습니다. 같은 수업이라도 학생별로 자신이 느낀 추천하고 싶은 점은 다를 수 있습니다. 하지만 그 중에서도 만약에 수업의 특징에 너무 반대인 성향으로 추천을 한 사람이 있다면 여기에서 신고를 하시면 됩니다. 그러면 관리자가 다른 사람들의 추천과 비교해서 신고를 접수하여 처리하겠습니다.</p>
      </div>

      <div id="h_sectiondivider" class="ui section divider"></div>

      <div id="subscribe" class="ui column">
        
      	<form class="ui form" action="post">
          <h4 class="ui dividing header">글쓰기</h4>
          <div class="field">
          	<label for="msg-title-label">제목 : </label>
          	<input type="text" name="msg-title-input" placeholder="Title">
          </div>
          <div class="field">
          	<label for="msg-body-label">본문 : </label>
          	<textarea name="msg-body-txtarea" id="msg-body-txtarea" cols="30" rows="10" placeholder="Body" maxlength="500"></textarea>
          </div>
        </form>

      </div>

      <div class="ui section divider"></div>


   {%endblock%}
  
</html>
