<!doctype html>
{% extends "m_skins/m_html/base.html" %}

   
  <head>
	{% block head%}

    <title>▒ SEAL ▒</title>

    <style>
      body, input {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>
	{% endblock%}
  </head>

  <body>
	{% block content%}
  <div class="containerss"></div>

    <div class="col-md-1 col-sm-0 col-xs-0"></div>

    <div class="col-md-8 col-sm-10 col-xs-10">

      <h2 class="ui header"><i class="glyphicon glyphicon-question-sign"></i> Q&A</h2>

      <div id="subscribe" class="ui column">
        
		<form class="ui form" action="/mysite2/QnA/Replying/{{ID}}" method = "POST">
		{%csrf_token%}
          <h4 class="ui dividing header">글쓰기</h4>
          <div class="field">
          	<label for="msg-title-label">제목 : </label>
          	<input type="text" name="msg-title-input2" placeholder="Title">
          </div>
          <div class="field">
          	<label for="msg-body-label">본문 : </label>
          	<textarea name="msg-body-txtarea2" id="msg-body-txtarea" cols="30" rows="10" placeholder="Body" maxlength="500"></textarea>
          </div>
          <a href="/mysite2/QnA" class="ui right floated red button" style="margin-left:8px">취소</a>
	        <input type="submit" id="submit_qna" value="등록"  class="ui right floated blue button">

        </form>

      </div>

      <div style="padding-bottom:50px"></div>

        <div id="h_sectiondivider" class="ui section divider"></div>
{%endblock%}
  </body>
</html>
